{% include "header.html" %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <br>
            <br>
            <br>

            <h1>What is Silent Disco Squad?</h1><span class="whatisds">Silent Disco Squad brings
            the transformational power of the dancefloor into everyday moments by organizing
            massively public, participant­ driven Danceparties. Using mp3 players, smartphones, and
            headphones, all SDS participants hear the same music at the same time, transforming
            everyday moments into a Silent Disco Squad.</span><br>
        </div>

        <div class="col-sm-6 nopadding"><img src="/static/images/whatissds2.jpg" width=
        "100%"></div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12 green contact-info">
                <br/>
                    <h3 class="yellow"><a href="#video"> 
                    <i class="fa fa-play-circle-o fa-lg fa-fw"></i>Watch a
                    Video</a></h3>

                    <h3 class="yellow"><a href="#app"><i class="fa fa-download fa-lg fa-fw"></i>Download the Silent Disco Squad App (soon!)</a></h3>

                    <h3 class="yellow"><a href="#video"><i class="fa fa-map-marker fa-lg fa-fw"></i>Find your City</a></h3>
                </div>

                <div class="col-sm-12 nopadding"><img src="/static/images/whatissds3.jpg" width=
                "100%"></div>
            </div>
        </div>

        <div class="col-sm-6 navy contact-info">
            <h2>Our Mission</h2>Silent Disco Squad is an experimental Danceparty that creates
            shared music experiences in everyday moments. SDS started with there
            burning questions:<br>

            <ul>
                <li>How can we carry the power of the dancefloor into everyday moments?</li>

                <li>Does technology bring us closer together or further apart?</li>

                <li>How can you scale a vibe without losing integrity?</li>
            </ul>We believe the Dancefloor is a powerful space deeply embedded within human
            culture. The Dancefloor is a transformational of expression, connection, and community.
            We intent to bring the power of the Dancefloor into everyday Urban moments!
        </div>

        <div class="col-sm-6 orange contact-info">
            <h2>How does it work?</h2>

            <ul>
                <li>1. Join your Local Silent Disco Squad party.</li>

                <li>2. Suggest your currently - favourite superhawt dance track for the mix. The mix is
                crowdsourced. Choose a song that makes you groove!</li>

                <li>3. <strong>BYOD (Bring your own device):</strong> Bring your mp3 player,
                smartphone, walkman with the downloaded mixed uploaded and of course: your
                headphones!</li>

                <li><strong>On safety</strong><br>
                Walking as a group all wearing headphones can be dangerous, especially when
                crossing roads - we are a collective, watch out for your SDS brothers and
                sisters!</li>

                <li><strong>Ethos</strong><br>
                While there is an SDS organizer, the organizers create (and curates) the space.
                Everyone is an active participant.</li>
            </ul>
        </div>

        
        <div class="col-sm-6 center">
            <img src="/static/images/tedxconcordia.png" width="250px">
            <h3><em>"How Can We Turning The World into the Dancefloor?"</em></h3>
        </div>
        <iframe width="585" height="315" src="//www.youtube.com/embed/HOutHFirz6A" frameborder="0" allowfullscreen></iframe>
    </div>



    <div class="row light-grey center">

    <h2>Silent Disco Squad is...</h2></br>
     

        <div class="col-sm-3">
            <h3>Participant Driven</h3>We all co­create each SDS by submitting Dancetracks ahead of
            time. The organizer picks songs and uses the selection to make the crowdsourced
            Dancemix. Participants bring their own headphones and music players. Each of us
            contributes our unique song, dance, and good vibes, creating the SDS magic~
        </div>

        <div class="col-sm-3">
            <h3>Shared Music Experience</h3>The Dancemix is distributed ahead of time as mp3 and
              become available on the website's event page. We meet up at a designated time and place 
              then countdown "3,2,1 Play!”.  We hit play as the Dancemix starts to stream. We all listen to the same music at the same time and groove!
        </div>

        <div class="col-sm-3">
            <h3>Massively Public</h3>We groove outside, in public space. While there is a barrier
            to entry (music player + headphones), we aim to make it as easy as possible to join in
            an SDS.  Bring a headphone splitter and an extra pair of headphones! Everyone is
            invited!
        </div>

        <div class="col-sm-3">
            <h3>Celebration</h3>Through our dance and expression we celebrate our selves, our city,
            and life itself.  We respectfully spread joy and mayhem ~:D
        </div><br class="clear">

           
    </div>
</div>

{% include "footer.html" %}