{% include "header.html" %}
{% include "header_city.html" %}

<div class="row city-details">
  <div class="col-md-5 event-picture" style="background-image:url(/static/img/sds1.jpg)"> </div>
  <div class="col-md-7 info">
    <h4> Upcoming Silent Disco Squad </h4>
    <span class="countdown">12 Days, 11 Hours, 22 Min, 33 sec</span>
    <p>&nbsp;</p>
    <h4>Meet Up </h4>
    June 12th 2014, 1PM </br>
    Parc Lafontaine, Montreal </br>
    <div class="btn small facebook">Join the Facebook Event > </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5 city-mix">
    <div class="col-md-12">
      <h2> The mix is ready!</h2>
      <h4> Download or Stream the mix </h4>
      {% if event.eventMix.uploadedSong %}
      <button class="btn" onclick="streamRedirect()">Stream The Mix</button>
      <a class="btn" href="https://s3.amazonaws.com/silentdiscosquad/{{event.eventMix.uploadedSong}}" >Download Mix!</a> 
      {% elif event.eventMix.uploadedSong and not user.is_authenticated %}
      
      {% elif not event.eventMix.uploadedSong %}
      <h4 class="warning"> <span class="glyphicon glyphicon glyphicon-warning-sign"></span> The mix is brewing! Please Check Back Later.</h4>
      {% endif %}
      
      <hr>

      <h3> Participant's Guide </h3>
      <h4> For a smooth danceparty </h4>
      </br>
      
      <ul>
        <li><span class="bullet"> 1. </span> Join your Local SDS party! </br>
          Enter your email address to join and submit a song. </li>
        <li><span class="bullet"> 2. </span> Suggest you current/favourite superhawt dance track for the mix.</li>
        <li> <span class="bullet"> 3. </span> The mix is crowdsourced. </br>
          Choose a song that makes you groove!</li>
        <li> <span class="bullet"> 4. </span> BYOD (Bring your own device)! </br>
          Bring your mp3 player, smartphone, walkman with the downloaded mixed uploaded and of course: your headphones! </li>
      </ul>
      
      </br>
      
      <h3> On Safety </h3>
      <p> Walking as a group all wearing headphones can be dangerous, especially when crossing roads - we are a collective, watch out for your SDS brothers and sisters! </p>
      </br>
      <h3> Ethos </h3>
      <p>While there is an SDS organizer, the organizers create (and curates) the space. Everyone is an active participant.</p>
      </br>
      <h2> Have a great Silent Disco! </h2>
    </div>
  </div>


  <div class="col-md-7 map nopadding">
    <iframe src="{{ event.google_map_link|safe }}" width="100%" height="350" frameborder="0" style="border:0"></iframe>
    
    <div class="col-md-12 green">
      <h4>Organizers</h4>
    </div>
    <p>&nbsp;</p>
    <div class="col-md-12"> <!-- Organizer wrapper start -->
      
      <div class="col-md-4"> <!-- Organizer start -->
        <div class="organizer" style="background: url(/static/img/david.jpg) no-repeat;"></div>
      </div>
      <div class="col-md-8">
        <h4>David Zangwill </h4>
        <p>Cras eget erat imperdiet, ornare nisl eget, euismod elit. Curabitur justo magna, pharetra sit amet ante nec, laoreet tincidunt enim !</p>
        <hr>
      </div>
      <!-- Organizer end -->
      
      <p>&nbsp;</p>
      <div class="col-md-4"> <!-- Organizer start -->
        <div class="organizer" style="background: url(/static/img/david.jpg) no-repeat;"></div>
      </div>
      <div class="col-md-8">
        <h4>David Zangwill </h4>
        <p>Cras eget erat imperdiet, ornare nisl eget, euismod elit. Curabitur justo magna, pharetra sit amet ante nec, laoreet tincidunt enim !</p>
        <hr>
      </div>
      <!-- Organizer end -->
      
      <p>&nbsp;</p>
      <div class="col-md-4"> <!-- Organizer start -->
        <div class="organizer" style="background: url(/static/img/david.jpg) no-repeat;"></div>
      </div>
      <div class="col-md-8">
        <h4>David Zangwill </h4>
        <p>Cras eget erat imperdiet, ornare nisl eget, euismod elit. Curabitur justo magna, pharetra sit amet ante nec, laoreet tincidunt enim !</p>
        <hr>
      </div>
      <!-- Organizer end --> 
      
    </div>
    <!-- Organizer wrapper end --> 
    
  </div>
</div>
</div>
{% include "footer.html" %}