{% include "header.html" %}

{% include "header_city.html" %}
    {% for event in upcomingEvents %}
      <div class="row city-details">
        <div class="col-md-5 event-picture" style="background-image:url(https://silentdiscosquad.s3.amazonaws.com/{{event.eventPic.photoFile}})"> </div>
        <div class="col-md-7 info">
          <h2> {{event.title}} </h2>
          <div id="eventID{{event.id}}" class="event-countdown"></div> </br>
          <a href="/future.html?id={{event.id}}">
          <div class="btn small">See full Info > </div>
          </a> 
        </div>
      </div>
      <br>
    {% endfor %}

  <div class="row green">
    <div class="col-md-12">
      <h4> Your Fellow dancers</h4>
    </div>
  </div>

  <div class="row">
  {% for person in community %}
    <div class="col-md-1 nopadding dancer">
      <img src="https://silentdiscosquad.s3.amazonaws.com/{{person.profilePic.photoFile}}" width="100%">
      {{ person.user.username }}
    </div>

  {% endfor %}
  </div>


  {% include "footer.html" %}

