{% include "header.html" %}
<div class="container">
  <div class="row">
    <div class="col-md-6 green contact-info">
      <h2>General</h2>
      For any questions, comments, suggestions or press inquiries, please write to us at: </br>
      <a href="mailto:someone@example.com?Subject=General%20Info">info (at) silentdiscosquad.com</a> </br>
      We are super responsive and we will get back to you asap. </br>
      Thank You! </div>
    <div class="col-md-6 navy contact-info">
      <h2>Organize a Silent Disco Squad</h2>
      Want to organize your very own Silent Disco Squad in your city? </br>
      Check out the Organize page first and feel free to connect with us with any questions. We will support you throughout the process! </br>
      <a href="#"> > Go to Organize Page </a> </div>
    <div class="col-md-12 light-grey contact-info">
      <h2>Contact a team member </h2>
      <div class="row">
        <div class="col-sm-3">
          <h4>David Zangwill</h4>
          <strong>Chief Dance Officer</strong></br>
          David has been forever transformed through his participation on Dancefloors. His duty is to carry the wisdom forward and is unabashedly obsessed with Turning the World into a Dancefloor. David is here to support, enable, and empower as many people as possible to organize their own Silent Disco Squads and bring humanity together through collective joy. </br>
          </br>
          <em>“I’m here to see how far we can spread SDS while maintaining the integrity of the vision. If SDS speaks to you, please reach out! I am more than happy to help you participate in SDS on any level you choose.”</em>
          <hr>
          <a href="https://www.facebook.com/david.zangwill" target="_blank"><i class="fa fa-facebook fa-lg pull-left fa-border"></i> 
          <a href="#davidSkype"><i class="fa fa-skype  fa-lg pull-left fa-border"></i> </a>
          <a href="mailto:david@silentdiscosquad.com"><i class="fa fa-envelope fa-lg pull-left fa-border"></i> </a>
          <br class="clear">
          </br>
        </div>

        <div class="col-sm-3">
          <h4>Annie Ngo</h4>
          <strong>Chief Digital Artist</strong></br>
          Annie is a multimedia artist with a knack for visual communication. Annie gorgeously expresses herself in a plethora of digital art mediums. She embraces taking part in projects aiming at florishing Montreal's cultural life. She met David in January 2013 and it’s been beautiful ride since!
          <hr>
          <a href="mailto:ngo.annie.ma@gmail.com"><i class="fa fa-envelope fa-lg pull-left fa-border"></i></a> </div>
          
         <div class="col-sm-3">
          <h4>Martin Weiss</h4>
          <strong>Chief Techno Officer</strong> </br>
          Martin is a deep thinking social-change-oriented entrepreneur, and Chief Techno Officer for SDS. He likes riding his motorcycle, dancing his face off, and learning everything he can. He's a Software Engineer at McGill, plays piano/mixes, and runs all over Montreal.
          <hr>
          <a href="mailto:martin@silentdiscosquad.com"><i class="fa fa-envelope fa-lg pull-left fa-border"></i> </a>
          <br class="clear"> </div>
          
        
   
       
        <div class="col-sm-3">
          <h4>Jonathan Glencross</h4>
          <strong>Chief Movement Officer</strong></br>
          When do powerful moments become uncontainable movements?
          <hr>
          <a href="mailto:jonathan.glencross@gmail.com"><i class="fa fa-envelope fa-lg pull-left fa-border"></i></a> </div>
    </div>
    </div>
  </div>
</div>

{% include "footer.html" %} 