{% include "header.html" %}

<div class="container">
  <div class="row">
    <div class="col-sm-12 signup-picture" style="background-image:url(/static/img/sds3.jpg)"> 
       <div class="profile-title">
       <br>
      <h1> Join the Silent Disco Squad Community now! </h1>
      People from all around the world are participating and creating Silent Disco Squad. </br>
      Join the community,  get to know them and connect with your fellow dancers! </br>
      We would like to know you! </div><br><br>
    </div>
  </div>

<div class="row">
  <div class="col-sm-6"> <h2>Instructions</h2></div>
  <div class="col-sm-6">
    <h2> Your Profile Info</h2>
  </div>
</div>

</br>
  <form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in uf %}
      <div class="fieldWrapper">
          {{ field.errors }}
      </div>
    {% endfor %}
    {% for field in upf %}
      <div class="fieldWrapper">
          {{ field.errors }}
      </div>
    {% endfor %}

    <span class="profile-error">{{uf.non_field_errors}}</span>
{{ uf.non_field_errors }}
{{ upf.non_field_errors }}
{{ pf.non_field_errors }}

<div class="row hidden-xs">
  <div class="col-sm-6"> First Name</div>
  <div class="col-sm-6">
    <div class="input-group">
        {{uf.first_name.errors}}
        {{uf.first_name}}<br>
    </div>
  </div>
</div>

<hr class="hidden-xs">

<div class="row hidden-xs">
  <div class="col-sm-6"> Last Name</div>
  <div class="col-sm-6">
    <div class="input-group">
        {{uf.last_name.errors}}
        {{uf.last_name}}<br>
    </div>
  </div>
</div>

<hr>


<div class="row">
  <div class="col-sm-6 bolder"> Username that will appear beneath your picture on the community page for your city.</div>
  <div class="col-sm-6">
    <div class="input-group">
        {{uf.username.errors}}
        {{uf.username}}<br>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-6 bolder"> Please enter a password.</div>
  <div class="col-sm-6">
    <div class="input-group">
        {{uf.password1.errors}}
        {{uf.password1}}<br>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-6 bolder"> Please repeat your password.</div>
  <div class="col-sm-6">
    <div class="input-group">
        {{uf.password2.errors}}
        {{uf.password2}}<br>
    </div>
  </div>
</div>

<hr class="hidden-xs">

<div class="row hidden-xs">
  <div class="col-sm-6 ">(Optional) Which city are you in? </div>
  <div class="col-sm-6">
    <div class="input-group">
        {{upf.city.errors}}
        {{upf.city}}<br>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-6 bolder"> Please enter a valid email, where we can send your account confirmation.</div>
  <div class="col-sm-6">
    <div class="input-group">
        {{uf.email.errors}}
        {{uf.email}}<br>
    </div>
  </div>
</div>

<hr class="hidden-xs">

<div class="row hidden-xs">
  <div class="col-sm-6"> What is your dancefloor superpower?</div>
  <div class="col-sm-6">
    <div class="input-group">
        {{upf.dancefloorSuperpower.errors}}
        {{upf.dancefloorSuperpower}}<br>
    </div>
  </div>
</div>

<hr class="hidden-xs">

<div class="row hidden-xs">
  <div class="col-sm-6">(Optional) Have you taken on any roles with Silent Disco Squad? </div>
  <div class="col-sm-6">
    <div class="input-group">
        {{upf.role.errors}}
        {{upf.role}}<br>
    </div>
  </div>
</div>

<hr class="hidden-xs">

<div class="row hidden-xs">
  <div class="col-sm-6">(Optional) What's your zipcode? </div>
  <div class="col-sm-6">
    <div class="input-group">
        {{upf.zipcode.errors}}
        {{upf.zipcode}}<br>
    </div>
  </div>
</div>

<hr class="hidden-xs">

<div class="row hidden-xs">
  <div class="col-sm-6"> Profile Picture! (100x100 pixels)</div>
  <div class="col-sm-6">
    <div class="input-group">
        {{pf.photoFile.errors}}
        {{pf.photoFile}}<br>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-6 bolder"> I want the SDS newsletter!</div>
  <div class="col-sm-6">
    <div class="input-group">
        {{upf.newsletter.errors}}
        {{upf.newsletter}}<br>
    </div>
  </div>
</div>

<input type="hidden" id="mp_id" name="mp_id" value="">
<script>
mix_person_id = mixpanel.get_distinct_id();
document.getElementById("mp_id").value = mix_person_id;
</script>

<hr>
   <br><br>
  <button type="submit" class="btn submit">Create your profile</button>
</form>

</div>
</div>
  {% include "footer.html" %}
