<div class="container organizer">
  <div class="col-md-3">
    <div  class="picture" style="background: url(https://silentdiscosquad.s3.amazonaws.com/Photos/2014/03/02/34596_funny_cookie_monster_terrorist.jpg)">
    <span class="title"> {{ event.role1 }}</span><br>
    <span class="name"> {{ event.organizer1.user}}</span> </div>
  
  {% if event.role2 %}
  <div class="col-md-3">
    <img src="https://silentdiscosquad.s3.amazonaws.com/{{event.organizer1.profilePic.photoFile}}" width=100px height=100px><br>
    <span class="title"> {{ event.role2 }}</span><br>
    <span class="name"> {{ event.organizer2.user}}</span> </div>
  {% endif %}

  {% if event.role3 %}
  <div class="col-md-3">
    <img src="https://silentdiscosquad.s3.amazonaws.com/{{event.organizer1.profilePic.photoFile}}" width=100px height=100px><br>
    <span class="title"> {{ event.role3 }}</span><br>
    <span class="name"> {{ event.organizer3.user}}</span> </div>
  {% endif %}
    
  {% if event.role4 %}
  <div class="col-md-3">
    <img src="https://silentdiscosquad.s3.amazonaws.com/{{event.organizer1.profilePic.photoFile}}" width=100px height=100px><br>
    <span class="title"> {{ event.role4 }}</span><br>
    <span class="name"> {{ event.organizer4.user}}</span> </div>
  {% endif %}

</div><br>
