<div class="city">
  <div class="container"> {{ event.city }} </div>
</div>
{% if globalEvent %}
<div class="countdown-banner-img" style="background: url(https://silentdiscosquad.s3.amazonaws.com/{{event.globalEvent.subEventPic.photoFile}}); background-position:left; background-size:cover">
{% else %}
<div class="countdown-banner-img" style="background: url(https://silentdiscosquad.s3.amazonaws.com/{{event.eventPic.photoFile}}); background-position:left; background-size:cover">
{% endif %}

  <div class="overlay">
    <div class="container"> <span class="event-title">{{event.title}}</span><br>
    {% if past %}
      {{event.music_start_time}}
    {% endif %}
      <div id="eventID{{event.id}}" class="event-countdown"></div>
    </div>
  </div>
</div>
<div class="share-past"> 
  <a href={{event.fbEvent}}>
    <div class="btn fb">{{event.title}}'s Facebook Event</div>
  </a> 
  {% if event.eventMix.uploadedSong %}
    <a href="/stream.html?id={{event.id}}">
      <button class="btn" onclick="id={{event.id}}">Stream The Mix</button>
    </a>
    <a class="btn" href="https://s3.amazonaws.com/silentdiscosquad/{{event.eventMix.uploadedSong}}" >Download Mix!</a>
    {% elif event.globalEvent.eventMix.uploadedSong %}
    <a href="/stream.html?id={{event.id}}">
      <button class="btn" onclick="id={{event.id}}">Stream The Mix</button>
    </a>
    <a class="btn" href="https://s3.amazonaws.com/silentdiscosquad/{{event.globalEvent.eventMix.uploadedSong}}" >Download Mix!</a>

{% else %}
<b>Sorry, No Mixes Have Been Uploaded Yet! Please Check Back Later.</b>
{% endif %}
</div>

