<div class="city">
  <div class="container">
  {{ event.city }}
  </div>  
</div>

<div class="countdown-banner-img">
  <div class="container">
  <span class="event-title">{{event.title}}</span><br>
  <div class="event-countdown" id="{{event.id}}">  </div>
  </div>  
</div>

    <div class="share-past">


    <p>Share this Silent Disco Squad</p>
    <div class="fb-like" data-href="https://www.facebook.com/SilentDiscoSquad" data-width="400" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>  
    <br>  
    <a href={{event.fbEvent}}>{{event.title}} FACEBOOK EVENT PAGE</a>
    <br>
    </div>
<hr>   
