</div>
</div>
<script>
(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]); 
  var distinct_id;
  mixpanel.init("{{PROJECT_TOKEN}}", {
    'loaded':function() {
      distinct_id = mixpanel.get_distinct_id();
      console.log("Project_token="+"{{PROJECT_TOKEN}}");
      console.log("distinct_id="+distinct_id);
      //add distinct_id to facebook auth for aliasing on mixpanel. works on clicking "facebook login button"
      try{
        var fbauth = document.getElementById("facebookauth");
        var url = fbauth.getAttribute("href");
        url = url + "&distinct_id="+distinct_id;
        console.log("url="+url);
        fbauth.href = url;
      }
      catch(err){
        console.log(err);
      }

      //set the distinct id in createprofile.html to be sent to myauth views.py
      try{
        console.log(distinct_id);
        document.getElementById('mixpanel_distinct_id').value = distinct_id;
      }
      catch(err){
        console.log(err);
      }
    }
  });
</script>

 {% if index %}
  {% else %}
<a name="app"><div class="footer"></a>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h3>What is Silent Disco Squad? </h3>
        </br>
        Silent Disco Squad brings the transformational power of the dancefloor into everyday moments by organizing public, participant­ driven Danceparties. 
        Using mp3 players, smartphones, and headphones, all SDS participants hear the same music at the same time, transforming everyday moments into a Silent Disco Squad. <br class="clear">
        </br>
        <span class="glyphicon glyphicon-play-circle"></span> <a href="#whatissds"> Watch a Video!</a> </br>
        </br>
       </div>
       <div class="col-md-7">
        <h3>Participate in your City</h3>
        </br>
        Ready to take part in a Massive Danceparty? Just choose your city to check the nearest event, download the mix onto your device, and get ready to groove!

         <h3>Sign up for a Free account</h3>
        </br>
        Connect with dancers from all over the world!!
        <br>
        <br>
        <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" /></a>
        </div>

    </div>© 2013-2015 - Silent Disco Squad
  </div>
</div>

{% endif %} 



<!--login-->
<div class="remodal-bg">
<div class="remodal" data-remodal-id="whatissds">
  <iframe width="100%" height="315" src="http://www.youtube.com/embed/Tlq9mye4mZA?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<div class="remodal" data-remodal-id="tedxtalk">
  <iframe width="100%" height="315" src="http://www.youtube.com/embed/HOutHFirz6A?rel=0" frameborder="0" allowfullscreen></iframe>
</div>


<div class="remodal" data-remodal-id="davidSkype">
  <h2>Connect with me on Skype!</h2>
  <h2>Please send me an email notification after adding me!</h2> <br>
  <h3>Skype username: david.zangwill</h3>
</div>

<!--login-->
<div class="remodal" data-remodal-id="login">
  <div id="slidediv"> {% include "login.html" %} </div>
</div>
</div>

<!--Variables that are accessible in javascript-->
<script>

//After login we are redirected, so context variables don't work. We use the Django messages framework (Django.contrib.messages)
//to send the user's email as a message tagged "success". Then we identify our newly logged in user to mixpanel.
{% if messages %}
  {% for message in messages %}
    {% if message.tags == "success" %} 
     mixpanel.identify("{{message}}");
     console.log("identified as {{message}}");
    {% endif %}
  {% endfor %}
{% endif %}

{% if request.user %}
  currentUser = "{{request.user}}";
{% else %}
  currentUser = null;
{% endif %}

{% if SOCIAL_AUTH_FACEBOOK_KEY %}
  SOCIAL_AUTH_FACEBOOK_KEY = "{{SOCIAL_AUTH_FACEBOOK_KEY}}";
{% endif %}
{% if FB_APP_ID %}
  FB_APP_ID = "{{FB_APP_ID}}";
{% endif %}

{% if event.id %}
  eventID = "{{event.id}}";
{% else %}
  eventID = null;
{% endif %}

{% if event.eventMix.uploadedSong %}
  eventMix = "{{event.eventMix.uploadedSong}}";
{% else %}
  eventMix = null;
{% endif %}
{% if event.music_start_time %} 
  music_start_time = '{{ event.music_start_time|date:"U" }}';
  console.log(music_start_time);
{% endif %}

{% if eta %} 
  eta = Number('{{ eta }}')
  console.log("eta="+eta);
{% endif %}

</script>

  <script type="text/javascript">
    
$('.bxslider').bxSlider({
  pagerCustom: '#bx-pager',
  captions: true,
  controls: true,
  auto: true,
  autoControls: false,

});
  </script>

<script> 

     var inst = $('[data-remodal-id=login]').remodal();
</script>
<script type="text/javascript">
  $(function () {
      $('#timepicker1').datetimepicker({
        format: 'MM/DD/YYYY HH:mm'
      });

      $('#timepicker2').datetimepicker({
        format: 'MM/DD/YYYY HH:mm'
      });

      $('#datepicker').datetimepicker({
          
      });
  });
</script>
<script>
if(!Modernizr.svg) {
    $('img[src*="svg"]').attr('src', function() {
        return $(this).attr('src').replace('.svg', '.png');
    });
}
</script>


</body>
</html>
