</div>
</div>
 {% if index %}
  {% else %}
<a name="app"><div class="footer"></a>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h3>What is Silent Disco Squad? </h3>
        </br>
        Silent Disco Squad brings the transformational power of the dancefloor into everyday moments by organizing public, participant­ driven Danceparties. 
        Using mp3 players, smartphones, and headphones, all SDS participants hear the same music at the same time, transforming everyday moments into a Silent Disco Squad. <br class="clear">
        </br>
        <span class="glyphicon glyphicon-play-circle"></span> <a href="#whatissds"> Watch a Video!</a> </br>
        </br>
       </div>
       <div class="col-md-7">
        <h3>Participate in your City</h3>
        </br>
        Ready to take part in a Massive Danceparty? Just choose your city to check the nearest event, download the mix onto your device, and get ready to groove!

         <h3>Sign up for a Free account</h3>
        </br>
        Connect with dancers from all over the world!!

        <!--  <h3>Download the Mobile App Now!</h3>
        </br>
        It's here! The first Silent Disco App is available for iPhones and Androids devices. Just download it from
        the Apple Store (for iPhone) or Google Play (Android). 
        <br class="clear">
        </br>
        <h4>Downloads links:</h4>
        <i class="fa fa-apple fa-5x"></i>
        <i class="fa fa-android fa-5x"></i>
         -->

        </div>

    </div>© 2013-2015 - Silent Disco Squad
  </div>
</div>

{% endif %} 



<!--login-->
<div class="remodal-bg">
<div class="remodal" data-remodal-id="whatissds">
  <iframe width="100%" height="315" src="http://www.youtube.com/embed/Tlq9mye4mZA?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<div class="remodal" data-remodal-id="tedxtalk">
  <iframe width="100%" height="315" src="http://www.youtube.com/embed/HOutHFirz6A?rel=0" frameborder="0" allowfullscreen></iframe>
</div>


<div class="remodal" data-remodal-id="davidSkype">
  <h2>Connect with me on Skype!</h2>
  <h2>Please send me an email notification after adding me!</h2> <br>
  <h3>Skype username: david.zangwill</h3>
</div>

<!--login-->
<div class="remodal" data-remodal-id="login">
  <div id="slidediv"> {% include "login.html" %} </div>
</div>
</div>

<!--Variables that are accessible in javascript-->
<script>
{% if request.user %}
  currentUser = "{{request.user}}";
{% else %}
  currentUser = null;
{% endif %}

{% if SOCIAL_AUTH_FACEBOOK_KEY %}
  SOCIAL_AUTH_FACEBOOK_KEY = "{{SOCIAL_AUTH_FACEBOOK_KEY}}";
{% endif %}

{% if event.id %}
  eventID = "{{event.id}}";
{% else %}
  eventID = null;
{% endif %}

{% if event.eventMix.uploadedSong %}
  eventMix = "{{event.eventMix.uploadedSong}}";
{% else %}
  eventMix = null;
{% endif %}
{% if event.music_start_time %} 
  music_start_time = '{{ event.music_start_time|date:"U" }}';
  console.log(music_start_time);
{% endif %}

{% if eta %} 
  eta = Number('{{ eta }}')
  console.log("eta="+eta);
{% endif %}

</script>

  <script type="text/javascript">
    
$('.bxslider').bxSlider({
  pagerCustom: '#bx-pager',
  captions: true,
  controls: true,
  auto: true,
  autoControls: false,

});
  </script>

<script> 

     var inst = $('[data-remodal-id=login]').remodal();
</script>
<script type="text/javascript">
  $(function () {
      $('#timepicker1').datetimepicker({
        format: 'MM/DD/YYYY HH:mm'
      });

      $('#timepicker2').datetimepicker({
        format: 'MM/DD/YYYY HH:mm'
      });

      $('#datepicker').datetimepicker({
          
      });
  });
</script>
<script>
if(!Modernizr.svg) {
    $('img[src*="svg"]').attr('src', function() {
        return $(this).attr('src').replace('.svg', '.png');
    });
}
</script>


</body>
</html>
