<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Silent Disco Squad" />
<meta name="description" content="Take part in massive, silent and synchronized danceparty around the world! We are turning the world into a dancefloor." />
<meta name="keywords"  content="Silent Disco, Silent Disco Squad, Disco silencieuse, Music, Dancefloor, International Dance Party, Syncronized Music" />

<!-- FACEBOOK TAGS -->
<meta property="og:image" content="/static/img/sds_fb_logo.png"/>
<meta property="og:site_name" content="Silent Disco Squad"/>
<meta property="og:url" content="http://www.silentdiscosquad.com/"/>

<title>Silent Disco Squad</title>
<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" media="screen" href="/static/datetimepicker/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" type="text/css" media="screen, projection" href="/static/zinnia/css/screen.css"/>
<link rel="stylesheet" type="text/css" media="print" href="/static/zinnia/css/print.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="/static/css/jquery.bxslider.css" rel="stylesheet">
<link href="/static/css/styles.css" rel="stylesheet">
<link href="/static/css/jquery.remodal.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
<script src="/static/js/jquery.bxslider.min.js"></script>
<script src="/static/js/jquery.remodal.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/js/countdown.min.js"></script>
<script src="/static/js/fileUpload.js"></script>
<script src="/static/js/bootbox.min.js"></script>
<script src="/static/js/mixpanel.js"></script>

<!-- start Mixpanel -->
<script type="text/javascript">
{% if createprofile %}
  var distinct_id;
  mixpanel.init('Project Token', {'loaded':function() {
      distinct_id = mixpanel.get_distinct_id();
      }
  });
{% else %}
  mixpanel.init("{{PROJECT_TOKEN}}");
  mixpanel.identify();
{% endif %}
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48932505-1', 'auto');
  ga('send', 'pageview');

{% if request.user.id %}
  currentUserId = "{{request.user.id}}";
  mixpanel.identify(currentUserId);
  console.log("currentUserId="+currentUserId);
  mixpanel.register_once({"user.id":currentUserId});
{% else %}
  currentUserId = null;
{% endif %}

{% if request.user.email %}
  currentUserEmail = "{{request.user.email}}";
  mixpanel.register_once({"user.email": currentUserEmail});
{% else %}
  currentUserEmail = null;
{% endif %}

</script>
</head>

{% if index %}
<body style="background-color:black">
{% else %}
<body>
{% endif %}


<div class="navbar navbar-inverse navbar-fixed-top" role="navigation"> 
  {% if index %}
  <div class="container-fluid"> 
  {% else %}
  <div class="container"> 
  {% endif %}
    <div class="navbar-header"> 
      {% if index %}
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand index-logo" href="/"> <img src="/static/img/silentdiscosquadlogo.svg" alt="Logo" class="logo-img"></a>
      {% else %}
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="/"> <img src="/static/img/silentdiscosquadlogo.svg" alt="Logo" class="logo-img"></a>
      {% if cities %}
      <div class="findyourcity hidden-xs">
        <div class="btn city-menu dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"> Find your city <span class="caret"></span> </div>
        <ul class="dropdown-menu " role="menu" aria-labelledby="dropdownMenu1">
          {% for city in cities %}
          <li role="presentation" > <a role="menuitem" tabindex="-1" href="/citypage_city.html?city={{city.cityName}}"> {{city.cityName}}</a> </li>
          {% endfor %}
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/organize.html">Organize a Silent Disco Squad in your city</a></li>
        </ul>
      </div>
      {% endif %}
      {% endif %}
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/organize.html">Organize</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/weblog">Blog</a></li>
        <li><a href="/contact.html">Contact</a></li>
        <li> <a class="social-icons" href="https://www.facebook.com/SilentDiscoSquad" target="_blank"> <img src="/static/img/social_facebook.svg"></a> <a class="social-icons" href="https://www.youtube.com/channel/UC3GVaVuJM2QBDNHbF9WM0OA" target="_blank"><img src="/static/img/social_youtube.svg"></a> </li>
        {% if cities and not user.is_authenticated %}
        <li><a class="login" href="#login">Login / Signup</a></li>  
        {% elif user.is_authenticated %}
        <li>
          <div  class="login" type="button" id="menu-login" data-toggle="dropdown"> Hello, {{user.username}}! <span class="caret"></span> </div>
          <ul class="dropdown-menu " role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/auth/profile.html">See Profile</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout.html">Log Out</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="visible-xs" style="min-height:20px; background-color:#222;">
  </div>

</div>
</div>
