<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Homepage</title>

<!--HEADER START-->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/styles.css" />

<!--[if IE]>
    <script type="text/javascript">
       var console = { log: function() {} };
    </script>
<![endif]-->

<!--SCRIPTS -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>  

<script type="text/javascript" src="/static/js/jquery.fullPage.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $.fn.fullpage({
  
    anchors: ['firstPage', 'secondPage']
  });
});
</script>

<!-- Latest compiled and minified JavaScript -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.mixitup.js"></script>
<script type="text/javascript" src="/static/js/upcomingEventCountdown.js"></script>
<script>
$(function(){
    $('#Container').mixItUp();  
});
</script>
</head>

<body>
  
   <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
           <li><a href="/whatissds.html">What is SDS</a></li>
           <li><a href="/" class="logo"></a></li>
           <li><a href="/jointhesquad.html">Join the Squad</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->

      <div class="searchbar">
    <button class="filter" data-filter=".category-1">Category 1</button>
<button class="filter" data-filter=".category-2">Category 2</button>
</div>


    </div><!-- /.navbar -->
  