<div class="container">
<div class="row city-top">
  <div class="col-md-2 city">
    <div  type="button" id="city-menu" data-toggle="dropdown"> Find your city <span class="caret"></span> </div>
    <ul class="dropdown-menu " role="menu" aria-labelledby="dropdownMenu1">
      {% for event in upcomingEvents %}
      {% if event.eventCity.cityName %}
      <li role="presentation" > <a role="menuitem" tabindex="-1" href="/citypage_city.html?city={{event.eventCity}}"> {{event.eventCity}}</a> </li>
      {% endif %}
      {% endfor %}
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="/organize.html">Organize a Silent Disco Squad in your city</a></li>
    </ul>
  </div>
  <div class="col-md-5 city-name"> {{ event.eventCity.cityName }}</div>
  <div class="col-md-3 green"> <a href="/citypage_city.html/?city={{event.eventCity}}"> Upcoming Silent Discos </a> </div>
  <div class="col-md-2 green"> <a href="/citypage_submitsong.html?id={{event.id}}"> Past Events </a></div>
</div>


