{% include "header.html" %}
<script type="text/javascript">
      $(function(){
        $('#Grid').mixitup();
      }); 
      
      $(document).ready(function() {
      $.fn.fullpage({
      });
    });
</script>

<div class="section" id="section1">
  <div ="slide">

<div class="top-sep"> </div>

<ul id="Grid">

{% if latest_poll_list %}
    {% for poll in latest_poll_list %}

  <li class="mix category_1" data-cat="1" style="background: url({{poll.url}}); background-size: cover;">
    <div class="sds-details">        
    <br/>
      <div id="countbox"></div>
      <br/>
      Artic Jamboree<br/>
      Montreal       
</div>
    <a href="/future.html">
    <button type="button" class="btn email">Join Now</button>
    </a> </li>
        {% endfor %}
{% endif %}

    
  <li class="gap"></li>
  <!-- "gap" elements fill in the gaps in justified grid -->
</ul>


<div class="create"> Click here to create a Silent Disco Squad </div>
<div id="pointed"> PAST SILENT DISCOS </div> 
  
</div>
  </div>
  
<div class="section" id="section2">
<div id="pointed2"></div>
 
  <div class="slide">
  <div class="top-sep"> </div>
    <div class="container">
     <div class="item">Hello</div>
     <div class="item">Hello</div>
     <div class="item">Hello</div>
     <div class="item">Hello</div>
     <div class="item">Hello</div>
     <div class="item">Hello</div>
     <div class="item">Hello</div>
     <div class="item">Hello</div>
  </div>
</div>

<script type="text/javascript" src="static/js/jquery.fullPage.js"></script> 

{% include "footer.html" %}