{% include "header.html" %}
<div class="top-sep"> </div>
{% include "eventHeader.html" %}
<div class="container new-event">
  <div class="col-md-6">
    <h2>Details</h2>
    <h3> {{ event.location}} </h3>
    <h3> {{ event.start_time}} </h3>
  </div>
  <div class="col-md-6 google-maps">
    <iframe src={{ event.google_map_link|safe }} width="425" height="150" frameborder="0" style="border:0"></iframe>
  </div>
</div>
<div class="jumbotron new-event">
  <div class="container ">
    <div class="col-md-5">
      <h2>Submit a song</h2>
      <h3>The mix is crowdsouced!</h3>
      <p>Join the party and submit your favorite song!<br>
        After entering your email, you will be able to submit your song
        by uploading or sending us a link. <br>
        <br>
        Check out this page shortly before the event to download the mix.</p>
    </div>
     <div class="col-md-1"></div>
    <div class="col-md-6"><p></p>
    {% if success %}
    {{ success }}
    {% endif %}

      <form method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form }}
      <button type="submit" class="btn submit">Submit Song</button>
      </form>
    </div>
  </div>
</div>
{% include "eventOrganizers.html" %}
<div class="container new-event ">
  <div class="col-md-7">
    <h2>Participant's Guide</h2>
    <h3>For a smooth Silent Disco Experience </h3>
    <ol>
      <li>Join you Local SDS party <br>
        Enter your email address to join and submit a song.</li>
      <li>Suggest you currently - favourite superhawt dance track for the mix.</br>
        The mix is crowdsourced. Choose a song that makes you groove!</li>
      <li>BYOD (Bring your own device) <br>
        Bring your mp3 player, smartphone, walkman with the downloaded mixed uploaded and of course: your headphones!</li>
      <li> <strong> On safety </strong><br>
        Walking as a group all wearing headphones can be dangerous, especially when crossing roads - we are a collective,
        watch out for your SDS brothers and sisters!</li>
      <li> <strong>Ethos </strong> <br><span> While there is an SDS organizer, the organizers create (and curates) the space. Everyone is an active participant.</li>
    </ol>
    <button type="button" class="btn submit">Read More</button>
    </br>
  </div>
</div>
{% include "footer.html" %}
