<!DOCTYPE html>

<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>SDS</title>
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/css/demo.css"/>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body style="">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
         <li><a href="/whatissds.html">What is SDS</a></li>
         <li><a href="/" class="logo"></a></li>
        <li><a href="/jointhesquad.html">Join the Squad</a></li>
      </ul>
    </div>
    <!--/.navbar-collapse --> 
  </div>
</div>
<br class="clear">
<div class="navbar navbar-fixed-top searchbar">
  <div class="container">
    <select class="dropdown" tabindex="9" data-settings='{"wrapperClass":"flat"}'>
      <option value="1">Browse city</option>
      <option value="2">Montreal</option>
      <option value="3">New-York City</option>
      <option value="4">Toronto</option>
    </select>
  </div>
</div>
<div class="top-sep"> </div>

<div class="section" id="section0">
 <div class="container">
        <div class="col-md-7"><h1>What is SDS</h1><br>
        <p>Silent Disco Squad aims to bring the transformational power of the dancefloor into everyday moments by organizing massively public, participant-driven Silent Disco Squads. 
			SDS uses mp3 players, smartphones and headphones to create a shared music experience for all participants, transforming everyday moments into a silent disco dance party. 
		</p></div>
        
        <div class="col-md-5">
        Picture
        </div>
        
        </div>
</div>
<div class="section" id="section1">
  <div class="slide">
    <div class="container">
      <div class="col-md-7">
        <h1>Participant Driven</h1>
        <br>
        <p>Dance track suggestions are submitted ahead of time to the SDS Organizer. The organizer picks songs and uses the selection to make a crowdsourced dance mix. 
	Participants Bring their own Headphones and music players --> BYOD (Bring your own device) </p>
      </div>
      <div class="col-md-5"> Picture </div>
    </div>
  </div>
</div>

<div class="section" id="section2">
  <div class="slide">
    <div class="container">
      <div class="col-md-7">
        <h1>Shared Music Experience</h1>
        <br>
        <p>The Mix is distributed ahead of time as mp3 and loaded to Soundcloud. We meet up at a certain time and place and countdown "3,2,1!"
	We hit play as the crowdsourced dance mix starts to stream. We all listen to the same music at the same time.</p>
      </div>
      <div class="col-md-5"> Picture </div>
    </div>
  </div>
</div>


<div class="section" id="section3">
  <div class="slide">
    <div class="container">
      <div class="col-md-7">
        <h1>Massively Public</h1>
        <br>
        <p>We jam outside, in public space 
	While there is a barrier to entry (music player + headphones), we aim to make it as easy as possible to join in an SDS. Everyone is invited! </p>
      </div>
      <div class="col-md-5"> Picture </div>
    </div>
  </div>
</div>

<div class="section" id="section4">
  <div class="slide">
    <div class="container">
      <div class="col-md-7">
        <h1>Celebration</h1>
        <br>
        <p>Through our dance and self-expression we celebrate our selves, our city, and life itself. 
	We respectfully spread joy and mayhem ~:D</p>
      </div>
      <div class="col-md-5"> Picture </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="#">Organizer's Login</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</div>
</div>
<footer> © Silent Disco Squad 2013 </footer>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script> 
<script src="/static/js/jquery.easydropdown.js"></script> 
<script src="/static/js/bootstrap.min.js"></script> 

<script type="text/javascript" src="/static/js/jquery.fullPage.js"></script> 
<script type="text/javascript">
		$(document).ready(function() {
			$.fn.fullpage({
				slidesColor: ['#fff', '#666', '#038693', '#a80079', '#eaa12a'],
				anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage', 'lastPage']
			});
		});
	</script> 


</body>
</html>
