{% include "header.html" %}
<div class="wrapper become">
  <div class="top-sep"></div>
  <div class="container participate"> <a class="alignleft"href="/participate.html">
    <div class="col-md-6">
      <h2>Participate in a Silent Disco Squad</h2>
    </div>
    </a> <a class="alignright" href="/become.html">
    <div class="col-md-6">
      <h2>Organize a Silent Disco Squad</h2>
    </div>
    </a> </div>
  <hr>
</div>
  <div class="guide">
    <div class="container">
      <div class="col-md-6">
        <h2>1. Find an SDS event in your city </h2>
        <h3>Check out the homepage to see a list of all future events and cities.</h3>
   <hr>

        <h2>2. Suggest your favourite superhawt </br>
          dancetrack for the mix</h2>
        <h3>Submit your song via the form on an SDS event page.</h3>
 <hr>
   
        <h2>3. BYOD</h2>
        <h3> Bring Your Own Device </h3>
        <ol>               
          <li>People with mp3 players download crowdsourced dance mix from the SDS event page on the website + load it to your device</li>           
          <li>If you have a phone with a data plan simply: </li>                 
          <li>Bring headphones </li>                  
          <li>Make a friend, bring a splitter </li>
        </ol>
    
<hr>
        <h2> 4. Meet up at the chosen start location and time with your music device + headphones </h2>
        <h3>Bring your friends + family - the more the merrier!</h3>
      <hr>
        <h2>5. Start the disco and have an outrageously fun time respectfully spreading joy + mayhem!</h2>
      </div>
      
      <div class="col-md-5 ">
        <h2 class="title">On Safety</h2>
        Walking as a group all wearing headphones can be dangerous, especially when crossing roads­. </br>We are a collective, watch out for your SDS brothers and sisters!
       <h2 class="title">Ethos</h2>
While there is an SDS organizer, the organizer creates the space </br>(and curates), everyone is an active participant. </br>And don't forget: Dress to express!
     </div>
   
  
</div>
</div>
<div class="sep"> </div>
{% include "footer.html" %}