{% include "header.html" %}
<div class="top-sep"></div>
<div class="container participate"> <a class="alignleft"href="/participate.html">
  <div class="col-md-6">
    <h2>Participate to Silent Disco Squad</h2>
  </div>
  </a> <a class="alignright" href="/become.html">
  <div class="col-md-6">
    <h2>Organize a Silent Disco Squad</h2>
  </div>
  </a> </div>
<hr>

<div class="join">
  <div class="container">
    <div class="col-md-6">
      <h2>No silent disco near you?</h2>
      <h2>Become an SDS organizer!</h2>
      <h3>Make one yourself! It's easier than you think and we will support you throughout the process.</h3>
      <br>
      <p>Silent Disco Squad is a community of people aimed at Turning the World into a Dancefloor. Silent Disco Squad is here to empower as many people as possible to take part and organize Silent Disco Squads in their local community.</p>
    </div>
    <div class="col-md-6">
      <h1>How to organize a SDS in 5 steps </h1>
      <ol>
        <li>Create the event</li>
        <li>Promote your awesome SDS event </li>
        <li>Mix + Share the crowdsourced dancemix (or have and musically­-inclined friend help)</li>
        <li>Have an amazing SDS</li>
        <li>Collect pictures and videos and show how you are World into a Dancefloor!</li>
      </ol>
    </div>
  </div>
</div>
<br class="top-sep">
<hr>

<div class="container">
  <div class="col-md-6"> Silent Disco Squad is still in alpha. If you are interested in learning more about organizing your own SDS event, please fill out the form. </br>
    We are super responsive, we will talk soon! </div>
  <div class="col-md-6 become-email">
    <form method="post" action="">
      {% csrf_token %}
      {{form}}
      <button type="submit" class="btn ">Submit Form</button>
    </form>
  </div>
</div>

{% include "footer.html" %} 