{% include "header_index.html" %}
<div class="container-fluid">
<div class="row">
<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><a href="#">FIND YOUR CITY</a></li>

     {% if upcomingGlobalEvent %}
              {% for event in upcomingEvents %}
              {% if event.globalEvent %}
               <li> <a href="/citypage_submitsong.html?id={{event.id}}"> {{event.city}}</a> 
                </li>
         
              {% endif %}
              {% endfor %}          
              {% endif %}
    <li><a href="/organize.html">Create your own </br>
      Silent Disco Squad in your city </a></li>
  </ul>
</div>


<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <div class="main-title">We are turning the World </br>
    into a dancefloor.
    <h3 class="yellow"> <a href="#video">Watch a Video</a> </h3>
  </div>
  <div class="single-item">
    <div style="background-image: url(/static/img/sds1.jpg); display:block; height:650px; width:100%;  background-size:cover" >
      <div class="overlay"></div>
    </div>
    <div style="background-image: url(/static/img/sds2.jpg); display:block; height:650px; width:100%;  background-size:cover" >
      <div class="overlay"></div>
    </div>
  </div>
</div>
<div class="caption-wrapper"><span class="yellow">MONTREAL</span></br>
  Upcoming Silent Disco: July 12th</div>

{% include "footer.html" %}
