{% include "header.html" %}
<div class="top-sep"> </div>

<div class="city">
  <div class="container">
  Montreal
  </div>  
</div>

<div class="countdown-banner-img">
  <div class="container">
  <span class="event-title">Silent Disco on Ice - Artic Jamboree</span><br>
  <span class="event-countdown">4 Days, 5 hours, 6 min, 5 sec</span>
  </div>  
</div>

   
    <div class="share-past">
     <p>Share this Silent Disco Squad</p>
	<button type="button" class="btn fb">Facebook</button>  
    <button type="button" class="btn twitter">Twitter</button>
    <button type="button" class="btn email">Email</button>
    </div>
<hr>   

<div class="container new-event">
	<div class="col-md-6">
       <h2>Details</h2><br>
       <h3> Friday, December 3rd 2013, 6PM </h3>
       <h3> Tam-Tams, Metro Mount-Royal</h3>    
    </div>
    
	<div class="col-md-6 google-maps">
	<iframe width="425" height="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?q=parc+lafontaine&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;ll=45.526364,-73.569345&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?q=parc+lafontaine&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;ll=45.526364,-73.569345&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	</div>
</div>

<div class="jumbotron">
  <div class="container new-event">
    <div class="col-md-5">
      <h2>Submit a song</h2>
      <h3>The mix is crowdsouced!</h3>
      <p>Join the party and submit your favorite song!<br>
      After entering your email, you will be able to submit your song
      by uploading or sending us a link.
		<br>
		<br>
      
      Check out this page shortly before the event to download the mix.</p>
    </div>
    
      <div class="col-md-1"></div>
    <div class="col-md-6"><p></p>
    {% if success %}
    {{ success}}
    {% endif %}

      <form method="post" action=".">
      {% csrf_token %}
      {{ formset }}
      <button type="submit" class="btn sendsong">Submit Form</button>
      </form>


      <!--form method="post" action="/future.html/">
      {% csrf_token %}
        <input placeholder="Enter your email" name="email" value="" type="text" />
        <input placeholder="Submit a link to a song" name='songname'class="submit-song" type="text" />  <span class="submit-or">or</span>
        <input class="btn upload" name='songfile' placeholder="Upload a song" type="file"/>Upload a Song</div>
        <textarea name='intention' placeholder="What is your intention (optional)?" id="regularTextarea"></textarea>
        <button type="submit" class="btn sendsong">Submit Form</button>
        
      </form-->

</div>
</div>



<div class="container organizer">
  <div class="col-md-3">
    <div class="picture"></div>
    <span class="title"> Organizer</span><br>
    <span class="name"> David Zangwill</span> </div>
    
  <div class="col-md-3">
    <div class="picture"></div>
    <span class="title"> Organizer</span><br>
    <span class="name"> David Zangwill</span> </div>
    
  <div class="col-md-3">
    <div class="picture"></div>
    <span class="title"> Organizer</span><br>
    <span class="name"> David Zangwill</span> </div>
    
  <div class="col-md-3">
    <div class="picture"></div>
    <span class="title"> Organizer</span><br>
    <span class="name"> David Zangwill</span> </div>
</div><br>

<hr>

<div class="container new-event ">
  <div class="col-md-4 intention">
    <h2>What is your intention</h2>
    <h3>for participating?</h3><br>
    
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu eros a metus posuere ornare. Sed rhoncus quis dui at interdum.
    Suspendisse id tempus nisi, id facilisis neque. Donec eu ullamcorper nibh, in facilisis mauris. Maecenas congue nec velit quis suscipit. 
    Sed luctus elit a neque consectetur, et congue lectus volutpat. Vivamus tempor hendrerit tortor, sit amet interdum arcu consectetur ac. 
    Curabitur vel ullamcorper ligula, et tincidunt justo. Cras fringilla gravida magna id ullamcorper. Cras sem nisl, 
    placerat vitae felis vel, sollicitudin pulvinar enim. Sed egestas sapien vulputate libero egestas sodales. 
    Vestibulum nec est vel dolor rhoncus adipiscing. Nam elementum 
    tellus id bibendum bibendum. Vivamus aliquet velit dictum, condimentum nibh ac, molestie libero.
   
  </div>
  
 <div class="col-md-1"></div>
  
  <div class="col-md-7">
    <h2>Participant's Guide</h2>
    <h3>For a smooth Silent Disco Experience </h3>
    
    <ul>
    <li> 1. Join you Local SDS party <br>
	<span>Enter your email address to join and submit a song.</span></li>
    
    <li> 2. Suggest you currently-favourite superhawt dance track for the mix <br>
	<span>The mix is crowdsourced. Choose a song that makes you groove!</span></li>
    
    <li> 3. BYOD (Bring your own device) <br>
	<span>Bring your mp3 player, smartphone, walkman with the downloaded mixed uploaded and of course: your headphones!</span></li>
    
    <li> 4. On safety <br>
 	<span>Walking as a group all wearing headphones can be dangerous, especially when crossing roads - we are a collective,
    watch out for your SDS brothers and sisters!</span></li>
    
    <li> 5. Ethos 
   <span> While there is an SDS organizer, the organizers create (and curates) the space. Everyone is an active participant.</span></li>
    
    </ul>
    
     <button type="button" class="btn readmore">Read More</button>
  </div>
</div>

<hr>

{% include "footer.html" %}