<!DOCTYPE html>

<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>SDS</title>


<link href="/static/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/styles.css"/>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body style="">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
         <li><a href="/whatissds.html">What is SDS</a></li>
         <li><a href="/" class="logo"></a></li>
        <li><a href="/jointhesquad.html">Join the Squad</a></li>
      </ul>
    </div>
    <!--/.navbar-collapse --> 
  </div>
</div>
<br class="clear">
<div class="navbar navbar-fixed-top searchbar">
  <div class="container">
    <select class="dropdown" tabindex="9" data-settings='{"wrapperClass":"flat"}'>
      <option value="1">Browse city</option>
      <option value="2">Montreal</option>
      <option value="3">New-York City</option>
      <option value="4">Toronto</option>
    </select>
  </div>
</div>
<div class="top-sep"> </div>
  
</div><br>

<!-- /container -->
</div>


<hr>
<div class="container participate">
 <a class="alignleft"href="/participate.html"> <div class="col-md-6">    <h2>Participate to Silent Disco Squad</h2><br>  </div></a>
  <a class="alignright" href="/become.html"><div class="col-md-6">    <h2>Organize a Silent Disco Squad</h2><br>  </div></a>
</div>
<hr>

<div class="join">
  <div class="container">
  <div class="col-md-7">
  <h2>1. Find the nearest Silent Disco Squad.</h2>
  <h3>Search for an event in your city and check the party details.<br>
	Don't forget to subscribe to the event so that you dont miss any alerts!<br>
	</h3>
   </div> 
   
     <div class="col-md-5">
  <img src="/static/img/participate-1.png">
   </div>   
   
   <div class="col-md-5">
 <img src="/static/img/participate-2.png">
   </div> 
   
   
   <div class="col-md-7">
  <h2>2. Suggest you currently-favourite superhawt dance track for the mix</h2>
   <h3>The mix is crowdsourced. Choose a song that makes you groove!</h3></li>
    
   </div>    
   
  </div>
</div>

<hr>
<div class="footer">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="#" class="alignleft">Organizer's Login</a></li>
      <li><a href="#" class="aligncenter">About</a></li>
      <li><a href="#" class="alignright">Contact</a></li>
    </ul>
  </div>
</div>
</div>
<footer> © Silent Disco Squad 2013 </footer>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
<script src="/static/js/jquery.easydropdown.js"></script> 
<script src="/static/js/bootstrap.min.js"></script> 

		
</body>
</html>