{% include "header.html" %}
<div class="section" id="page0">
  <div class="home-img"  data-video="https://www.youtube.com/embed/Tlq9mye4mZA"
        data-video-width="500" data-video-height="281"></div>
</div>
<div class="section" id="page1">
  <div class="container">
    <div class="col-md-5"> <img class="img-responsive" src="/static/img/wisds/whatissds-01.png"> </div>
    <div class="col-md-7">
      <h1>What is Silent Disco</h1>
      <br>
      <p>Silent Disco Squad brings the transformational power of the dancefloor into everyday moments by organizing massively public, participant­ driven Danceparties. </br>
        Using mp3 players, smartphones, and headphones, all SDS participants hear the same music at the same time, transforming everyday moments into a Silent Disco Squad. </p>
    </div>
  </div>
</div>
<div class="section" id="page2">
  <div class="container">
    <div class="col-md-7">
      <h1>Participant Driven</h1>
      <br>
      <p>We all co­create each SDS by submitting Dancetracks ahead of time. The organizer picks songs and uses the selection to make the crowdsourced Dancemix. Participants bring their own headphones and music players. Each of us contributes our unique song, dance, and good vibes, creating the SDS magic~</p>
    </div>
    <div class="col-md-5"> <img class="img-responsive" src="/static/img/wisds/whatissds-05.png"> </div>
  </div>
</div>
<div class="section" id="page3">
  <div class="container">
    <div class="col-md-5"> <img class="img-responsive" src="/static/img/wisds/whatissds-04.png"> </div>
    <div class="col-md-7">
      <h1>Shared Music Experience</h1>
      <br>
      <p>The Dancemix is distributed ahead of time as mp3 and loaded to Soundcloud. We meet up at a designated time and place then countdown "3,2,1 Play!”. </br>
        We hit play as the Dancemix starts to stream. We all listen to the same music at the same time and groove!</p>
    </div>
  </div>
</div>
<div class="section" id="page4">
  <div class="container">
    <div class="col-md-7">
      <h1>Massively Public</h1>
      <br>
      <p>We groove outside, in public space. While there is a barrier to entry (music player + headphones), we aim to make it as easy as possible to join in an SDS. </br>
        Bring a headphone splitter and an extra pair of headphones! Everyone is invited!</p>
    </div>
    <div class="col-md-5"> <img class="img-responsive" src="/static/img/wisds/whatissds-02.png"> </div>
  </div>
</div>
<div class="section" id="page5">
  <div class="container">
    <div class="col-md-7"> <img class="img-responsive" src="/static/img/wisds/whatissds-03.png"> </div>
    <div class="col-md-5">
      <h1>Celebration</h1>
      <br>
      <p>Through our dance and expression we celebrate our selves, our city, and life itself. </br>
        We respectfully spread joy and mayhem ~:D</p>
    </div>
  </div>
</div>
{% include "footer.html" %}