{% block content %}

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <form action="auth_view" method="post">
  {% csrf_token %}
 <h2>Login into your Silent Disco Account</h2>
  </br>
  </br>
  <div class="input-group">
    <input type="text" class="submit-track user-login" placeholder="Username" id="username">
  </div>
  <br>
  <div class="input-group">
    <input type="password" class="submit-track user-login" placeholder="Password" id="password">
  </div>
  <br>
 <input type="submit" class="remodal-confirm btn" value="login" />   </br>
  </br>

  </form>


{% endblock %}



