{% block content %}

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <form action="/auth_view/" method="post">
    {% csrf_token %}
    <h2>Login into your Silent Disco Account</h2>
    </br>
    </br>
    <div class="input-group">
      {{authform.username}}
    </div>
    <br>
    <div class="input-group">
      {{authform.password}}
    </div>
    <br>
    <!-- I had to cut this: class="remodal-confirm btn" because it was fucking up the form submission. :/-->
    <input type="submit"  value="login" />   </br>
    </br>
  </form>

{% endblock %}



