{% include "header.html" %}
<div class="top-sep"> </div>
</br>

<div class="container join">
  <h2>Our mission</h2>
  <h3>Turning the world into a dancefloor</h3>
</br/></br>
</div>
<div class="container contact">
  <div class="col-md-7">
    <p>Silent Disco Squad is an experimental Danceparty that creates shared music experiences in everyday moments using headphones and music players to bring people together, Turning the World into a Dancefloor.
      
      SDS started with there burning questions: <br>
    <ol>
      <li>How can we carry the power of the dancefloor into everyday moments?</li>
      <li> Does technology bring us closer together or further apart?</li>
      <li> How can you scale a vibe without losing integrity? </li>
    </ol>
    We believe the Dancefloor is a powerful space deeply embedded within human culture. </br>
    The Dancefloor is a transformational of expression, connection, and community. </br>
    We intent to bring the power of the Dancefloor into everyday Urban moments!
    </p>
  </div>
 
</div>

<div class="sep"> </div>
{% include "footer.html" %}