<ul>

{% if upcomingEvents %}
    {% for event in upcomingEvents %}
  <li id="eventBox" name="eventBox" style="background: url(https://silentdiscosquad.s3.amazonaws.com/{{event.eventPic.photoFile}}); background-size: cover; position:absolute;" >
    <div class="sds-details">        
    <br/>
      <div id="{{event.id}}"></div>
      <br/>
      {{ event.title }}<br/>
      {{ event.city }}    
      <a id="join" href="/future.html?title={{event.title}}">
    <button type="button" class="btn email">Join Now</button>
    </a>
    </div>
   </li>
        {% endfor %}
  {% endif %}
  <script>
{% include "static/js/eventGrid.js" %}
</script>


    </ul>
