{% include "header.html" %} <br>
<br>
<div class="col-sm-12">
  <h1>My profile</h1>
  <h3>You can modify your infomation anytime.</h3>
  <br>
  <br>
</div>

<div class="col-sm-3"> <img  src=
"https://silentdiscosquad.s3.amazonaws.com/{{currentUserProfile.profilePic.photoFile}}" width="100%"> </div>
<div class="col-sm-9"> <span class="profile-item"> Username: </span> {{ currentUserProfile.user.username }} <br>
  <span class="profile-item">City: </span> {{currentUserProfile.city}}<br>
  <span class="profile-item">First Name: </span> {{currentUserProfile.user.first_name}}<br>
  <span class="profile-item">Last Name: </span> {{currentUserProfile.user.last_name}}<br>
  <span class="profile-item">Email: </span> {{currentUserProfile.user.email}}<br>
  <span class="profile-item">Zipcode: </span> {{currentUserProfile.zipcode}}<br>
  <span class="profile-item">Role: </span> {{currentUserProfile.role}}<br>
  <span class="profile-item">Dancefloor Superpower: </span> {{currentUserProfile.dancefloorSuperpower}} </div>

When you click this button, the below form should replace the top form :)
<button type="button">Edit Profile</button>
<br>
<br>
<form method="post" action="" enctype="multipart/form-data">
  {% csrf_token %} <br>
  <br>
  Profile Picture: {{pf.photoFile}} <br>
  <br>
  First Name: {{uf.first_name}} {{uf.first_name.errors}}<br>
  <br>
  Last Name: {{uf.last_name}} {{uf.last_name.errors}} <br>
  <br>
  <div hidden>
  Username: {{uf.username}} {{uf.username.errors}} <br>
  <br>
  Email: {{uf.email}} {{uf.email.errors}} <br>
  <br>
  </div>
  Dancefloor Superpower: {{upf.dancefloorSuperpower}} <br>
  <br>
  Zipcode: {{upf.zipcode}} <br>
  <br>
  City: {{upf.city}} <br>
  <br>
  Role: {{upf.role}}
  </div>
  <button type="submit" class="btn submit">Create your profile</button>
</form>
{% include "footer.html" %}