{% include "header.html" %} <br>
<br>
<div class="col-sm-12">
  <h1>My profile</h1>
  <h3>You can modify your infomation anytime.</h3>
  <br>
  <br>
</div>
<div name="profile">
<div class="col-sm-3"> <img  src=
"https://silentdiscosquad.s3.amazonaws.com/{{currentUserProfile.profilePic.photoFile}}" width="100%"> </div>
<div class="col-sm-9"> <span class="profile-item"> Username: </span> {{ currentUserProfile.user.username }} <br>
  <span class="profile-item">City: </span> {{currentUserProfile.city}}<br>
  <span class="profile-item">First Name: </span> {{currentUserProfile.user.first_name}}<br>
  <span class="profile-item">Last Name: </span> {{currentUserProfile.user.last_name}}<br>
  <span class="profile-item">Email: </span> {{currentUserProfile.user.email}}<br>
  <span class="profile-item">Zipcode: </span> {{currentUserProfile.zipcode}}<br>
  <span class="profile-item">Role: </span> {{currentUserProfile.role}}<br>
  <span class="profile-item">Dancefloor Superpower: </span> {{currentUserProfile.dancefloorSuperpower}} </div>
<button type="button" onclick="editprofile();">Edit Profile</button>

</div>
<script>
function editprofile(){
    document.getElementsByName("editprofile")[0].style.display = 'block';
    document.getElementsByName("profile")[0].style.display = 'none';
}
</script>
<br>
<br>
<div name="editprofile" style="display:none">
<form  method="post" action="" enctype="multipart/form-data">
  {% csrf_token %} <br>
  <br>
  Profile Picture: {{pf.photoFile}} <br>
  <br>
  First Name: {{uf.first_name}} {{uf.first_name.errors}}<br>
  <br>
  Last Name: {{uf.last_name}} {{uf.last_name.errors}} <br>
  <br>
  <div hidden>
  Username: {{uf.username}} {{uf.username.errors}} <br>
  <br>
  Email: {{uf.email}} {{uf.email.errors}} <br>
  <br>
  </div>
  Dancefloor Superpower: {{upf.dancefloorSuperpower}} <br>
  <br>
  Zipcode: {{upf.zipcode}} <br>
  <br>
  City: {{upf.city}} <br>
  <br>
  Role: {{upf.role}}
    <button type="submit" class="btn submit">Save Changes</button>
  </div>
</form>
</div>
{% include "footer.html" %}