{% include "header.html" %}
 <div class="row city-details">
    <div class="col-sm-12 signup-picture" style="background-image:url(/static/img/sds4.jpg)"> 
         <div class="profile-title">
         <br>
         <br>
         <br>
         <h1> No Silent Disco Squad near you? 
              Become an SDS organizer!</h1>
          <p>It's easier than you think and we will support you throughout the process.</p> 
          <br>
          <br>
          <br>
        </div>
    </div>
  </div>
</br>

<h2> Your Event Info</h2>
</br>
  <form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ef.non_field_errors}}

<div class="row">
  <div class="col-sm-6"> Name your event in accordance with your intention or as part of a larger theme</div>
  <div class="col-sm-6">
    <div class="input-group">
          {{ef.title.errors}}
          {{ef.title}}
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-6">  This is the time you want people to show up at, remember people tend to show up fashionably late </div>
  <div class="col-sm-6">
    <div class="input-group">
      <div class="well">
        <div class="input-append date" id="datetimepicker1">
          {{ef.arrive_start_time.errors}}
          {{ef.arrive_start_time}}
          <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-6">  This is the time that the music will start streaming from SilentDiscoSquad.com <br><br>
In Our Experience: Countdown Time  ≈  Arrival Time + 25 Minutes

  </div>
  <div class="col-sm-6">
    <div class="input-group">
      <div class="well">
        <div class="input-append date" id="datetimepicker2">
          {{ef.music_start_time.errors}}
          {{ef.music_start_time}}
          <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
          </span>
        </div>
      </div>  
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-6"> Where exactly does your SDS start? Enter the specific name of your starting location that Dancers will know to go to [Address, Intersection, Name of Place, or Landmark] </div>
  <div class="col-sm-6">
    <div class="input-group">
      {{ef.location.errors}}
      {{ef.location}}
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-6"> Enter a google map link of your specific starting location
<ul>
  <li>
    1) go to googlemap (embed link to google maps)
  </li>
  <li>
    2) type in the name of your exact starting location 
  </li>
  <li>
    3) click the gear button [image] in lower right corner
  </li>
  <li>
    4) click share + embed
  </li>
  <li>
    5) click ‘embed map’ button 
  </li>
  <li>
    6) copy and paste the messy code here - it starts with <q>&lt;iframe src=...</q>
  </li>
</ul>

 </div>
  <div class="col-sm-6">
    <div class="input-group">
      {{ef.google_map_link.errors}}
      {{ef.google_map_link}}
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-6"> Select the city that your event will be hosted in from the dropdown menu. If you do not see your city, you have the opportunity to found your city's Silent Disco Squad community by clicking the "I don't see my city" link. Simply upload a photo of your city and enter its name.  </div>
  <div class="col-sm-6">
    <div class="input-group">
      {{ef.eventCity.errors}}
      {{ef.eventCity}}
      <button type=button id="toggleButton">I don't see my City</button>
    <div style="display: none" id="toggleDiv" class="row organize-form">
      <div class="col-md-4 nopadding">
        Create your city!<br>
        {{cf.cityName}}<br><br>
        Image of my City: {{cpf.photoFile}}
      </div>
    </div>

    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-6"> Please upload a banner photo for your event</div>
  <div class="col-sm-6">
    <div class="input-group">
      {{pf.photoFile.errors}}
      {{pf.photoFile}}
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-6"> Create a Facebook Event for your event, make sure you set it to public or people won't be able to access it from links on our site! </div>
  <div class="col-sm-6">
    <div class="input-group">
          {{ef.fbEvent.errors}}
          {{ef.fbEvent}}
    </div>
  </div>
</div>

<hr>

<button type="submit" class="btn submit">Submit your Event</button>

  </form>

<script type="text/javascript">
  $(function() {
    $('#datetimepicker1').datetimepicker({ 
      format: 'MM/DD/YYYY hh:mm',
      pickDate: true,
      pickSeconds: false,
      pick12HourFormat: false            
    });
  });
    $(function() {
    $('#datetimepicker2').datetimepicker({ 
      format: 'MM/DD/YYYY hh:mm',
      pickDate: true,
      pickSeconds: false,
      pick12HourFormat: false            
    });
  });

  $( '#toggleButton' ).click(function() {
    $( "#toggleDiv" ).toggle( "slide" );
  });

</script>
</br>
{% include "footer.html" %}
