{% include "header.html" %} 
<br>
{% if myprofile %}
<div class="container">
<div class="col-sm-12">
  <h1>My profile</h1>
  <h3>You can modify your infomation anytime.</h3>
  <br>
  <br>
</div>
<div name="profile">
  <div class="col-sm-3"> <img  src=
"{{currentUserProfile.profilePic}}" width="100%"> </div>
  <div class="col-sm-9"> 
    <span class="profile-item"> Username: </span> {{ currentUserProfile.user.username }} <br>
    <span class="profile-item">City: </span> {{currentUserProfile.city}}<br>
    <span class="profile-item">First Name: </span> {{currentUserProfile.user.first_name}}<br>
    <span class="profile-item">Last Name: </span> {{currentUserProfile.user.last_name}}<br>
    <span class="profile-item">Email: </span> {{currentUserProfile.user.email}}<br>
    <span class="profile-item">Zipcode: </span> {{currentUserProfile.zipcode}}<br>
    <span class="profile-item">Role: </span> {{currentUserProfile.role}}<br>
    <span class="profile-item">Dancefloor Superpower: </span> {{currentUserProfile.dancefloorSuperpower}} <br>
    <button class="btn" type="button" onclick="editprofile(); mixpanel.track('edited profile');">Edit Profile</button>
     <br>
    <br>
    <br>
    </div>
</div>
  {% else %}
  <div class="container">
  <div class="col-sm-12">
  <h1>{{currentUserProfile.user.first_name}}'s profile</h1>
  <br>
  <br>
</div>
<div name="profile">
  <div class="col-sm-3"> <img  src=
"{{currentUserProfile.profilePic}}" width="100%"> </div>
  <div class="col-sm-9"> 
    <span class="profile-item"> Username: </span> {{ currentUserProfile.user.username }} <br>
    <span class="profile-item">City: </span> {{currentUserProfile.city}}<br>
    <span class="profile-item">First Name: </span> {{currentUserProfile.user.first_name}}<br>
    <span class="profile-item">Role: </span> {{currentUserProfile.role}}<br>
    <span class="profile-item">Dancefloor Superpower: </span> {{currentUserProfile.dancefloorSuperpower}} <br>
     <br>
    <br>
    <br>
    </div>
</div>

  {% endif %}

<script>
mixpanel.track('viewed profile');
function editprofile(){
    document.getElementsByName("editprofile")[0].style.display = 'block';
    document.getElementsByName("profile")[0].style.display = 'none';
}
</script> 
<br>
<br>
<div name="editprofile" style="display:none">
  <div class="col-sm-9">
  <form  method="post" action="/auth/profileupdate/" enctype="multipart/form-data">
    {% csrf_token %} <br>
    <br>
    <div class="col-sm-3"> Profile Picture (100x100 pixels): </div>
    <div class="col-sm-9"> {{pf.photoFile}} </div>
    
    <div class="col-sm-3"> First Name: </div>
    <div class="col-sm-9"> {{uf.first_name}} {{uf.first_name.errors}} </div>
    
    <div class="col-sm-3"> Last Name:
      <div hidden> Username: {{uf.username}} {{uf.username.errors}} <br>
        <br>
        Email: {{uf.email}} {{uf.email.errors}} <br>
        <br>
      </div>
    </div> 
    <div class="col-sm-9"> {{uf.last_name}} {{uf.last_name.errors}} </div>
    
    <div class="col-sm-3"> Dancefloor Superpower: </div>
    <div class="col-sm-9"> {{upf.dancefloorSuperpower}} </div>
    
    <div class="col-sm-3"> Zipcode: </div>
    <div class="col-sm-9"> {{upf.zipcode}} </div>

    <div class="col-sm-3"> City: </div>
    <div class="col-sm-9"> {{upf.city}} </div>
    
    <div class="col-sm-3"> Role: </div>
    <div class="col-sm-9"> {{upf.role}} 
    <br class="clear">
    <button type="submit" class="btn submit">Save Changes</button>
    </div>
    

    </div>
  </form>

</div>
</div>
{% include "footer.html" %}