{% include "header.html" %}

<div class="container">
  <div class="row city-top">
    <div class="col-md-2 city">
      <div id="city-menu"> Register </div>
    </div>
  </div>
  <div class="row city-details">
    <div class="col-md-12 event-picture" style="background-image:url(/static/img/sds3.jpg)"> </div>
    <div class="profile-title">
      <h1> Join the Silent Disco Squad Community now! </h1>
      People from all around the world are participating and creating Silent Disco Squad. </br>
      Join the community,  get to know them and connect with your fellow dancers! </br>
      We would like to know you! </div>
  </div>
  </br>
  <div class="row">
    <h2> Fill out this form</h2>
  </div>
  <div class="row register-form">
    <div class="col-md-4 nopadding">
      <div class="input-group">
        <input type="text" class="register-field"  placeholder="Your first name">
      </div>
    </div>
    <div class="col-md-4 nopadding">
      <div class="input-group">
        <input type="text" class="register-center-field"  placeholder="Your last Name" >
      </div>
    </div>
    <div class="col-md-4 nopadding">
      <div class="input-group">
        <input type="text" class="register-field"  placeholder="Your disco Name">
      </div>
    </div>
  </div>
  <div class="row register-form">
    <div class="col-md-4 nopadding">
      <div class="input-group">
        <input type="text" class="register-field"  placeholder="Password">
      </div>
    </div>
    <div class="col-md-4 nopadding">
      <div class="input-group">
        <input type="text" class="register-center-field"  placeholder="Password (repeat)" >
      </div>
    </div>
    <div class="col-md-4 nopadding">
      <div class="input-group">
        <input type="text" class="register-field"  placeholder="What city do you live in?">
      </div>
    </div>
  </div>
  <div class="row register-form">
    <div class="col-md-6 nopadding">
      <div class="input-group">
        <input type="text" class="register-field"  placeholder="Your e-mail">
      </div>
    </div>
    <div class="col-md-6 nopadding">
      <div class="input-group">
        <input type="text" class="register-center-field"  placeholder="Your e-mail (repeat)" >
      </div>
    </div>
  </div>
  <div class="row register-form">
    <div class="col-md-6 nopadding">
      <div class="input-group">
        <input type="text" class="register-field"  placeholder="Your dance super power">
      </div>
    </div>
    <div class="col-md-6 nopadding">
      <div class="input-group">
        <input type="text" class="register-center-field"  placeholder="Upload a profile picture" >
        <span class="input-group-addon">Browse File</span></div>
      </br>
    </div>
    <div class="btn">Create your profile</div>
  </div>
</div>
  {% include "footer.html" %}
