

{% include "header.html" %}

<div class="col-sm-12">

<h2>{{event.title}}</h2>
<h2 id="countdown" style="font-size:28px !important"> </h2>
<div id="progDiv">
<progress id='prog' max='100' value='0'><span>0</span>%</progress><br>
TIME TO DAAAAAAAAANCE!!
</div>
<div id="smile">Smile! You're in the right place :)</div>

<audio>
<source src="https://s3.amazonaws.com/silentdiscosquad/{{event.eventMix.uploadedSong}}">
</audio>


<br class="clear">
<script type="text/javascript">
var playtime = {{eta}};
var eventID = {{event.id}};
</script>
<script type="text/javascript" src="/static/js/stream.js"></script>

<button class="streaming btn" type="button" id="play" onclick="playMix(); ">Play Mix</button>

</div>
{% include "footer.html" %} 





