doctype html
html(lang="en")
	head
		title= Ecstatic
		link(rel='stylesheet', href='stylesheets/app.css')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js')
		script(src='js/socket.io-client/socket.io.js')
		script(src='js/ecstaticSocketsClient.js')
		script(src='js/djangoAPI.js')

	body
		.section
			.row
				.small-2.large-2.columns
					
				.small-8.large-8.columns
					.block
					img('logo.png')
					h4.subtitle.big Next up
					h1 International Startup Festival Radio
					span: img('icn-clock.png')
					ul 
						ul.inline-list
							li 21
							li 36
							li 12
						ul.subtitle
							li.label hour
							li.label minutes
							li.label seconds
				.small-2.large-2.columns
		.section
			.row
				.small-7.large-7.columns
					img(src='images/img-cover-holder-417-280.png')
					h3 Deepcast vol 34
					h5 by Mark Macleod from Freshbooks
					.left
						p 0:00
					.right
						p 9:99
					.progress
						span.meter

				.small-5.large-5.columns
					table
						tbody
							tr
								td img
								td #
								td Deepcast vol 34
								td Mark Macleod from Freshbooks
								td 0:00
							tr
								td img
								td #
								td Deepcast vol 34
								td Mark Macleod from Freshbooks
								td 0:00
							tr
								td img
								td #
								td Deepcast vol 34
								td Mark Macleod from Freshbooks
								td 0:00
								


//		
		.sheet.cover
			
