<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <link rel="stylesheet" href="stylesheets/app.css">
  </head>
  <body>
    <div class="section">
      <div class="row">
        <div class="small-2 large-2 columns"></div>
        <div class="small-8 large-8 columns">
          <div class="block"></div><img logo.png>
          <h4 class="subtitle big">Next up</h4>
          <h1>International Startup Festival Radio</h1><span><img icn-clock.png></span>
          <ul> 
            <ul class="inline-list">
              <li>21</li>
              <li>36</li>
              <li>12</li>
            </ul>
            <ul class="subtitle">
              <li class="label">hour</li>
              <li class="label">minutes</li>
              <li class="label">seconds</li>
            </ul>
          </ul>
        </div>
        <div class="small-2 large-2 columns"></div>
      </div>
    </div>
    <div class="section">
      <div class="row">
        <div class="small-7 large-7 columns"><img src="images/img-cover-holder-417-280.png">
          <h3>Deepcast vol 34</h3>
          <h5>by Mark Macleod from Freshbooks</h5>
          <div class="left">
            <p>0:00</p>
          </div>
          <div class="right">
            <p>9:99</p>
          </div>
          <div class="progress"><span class="meter"></span></div>
        </div>
        <div class="small-5 large-5 columns">
          <table>
            <tbody>
              <tr>
                <td>img</td>
                <td>#</td>
                <td>Deepcast vol 34</td>
                <td>Mark Macleod from Freshbooks</td>
                <td>0:00</td>
              </tr>
              <tr>
                <td>img</td>
                <td>#</td>
                <td>Deepcast vol 34</td>
                <td>Mark Macleod from Freshbooks</td>
                <td>0:00</td>
              </tr>
              <tr>
                <td>img</td>
                <td>#</td>
                <td>Deepcast vol 34</td>
                <td>Mark Macleod from Freshbooks</td>
                <td>0:00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
<!--		
.sheet.cover
	
-->