doctype html
html(lang="en")
	head
		title= Ecstatic
		link(rel='stylesheet', href='stylesheets/app.css')
	body
		.section
			.row
				.small-2.large-2.columns
					
				.small-8.large-8.columns
					.block
					img('logo.png')
					h4.subtitle.big Next up
					h1 International Startup Festival Radio
					span: img('icn-clock.png')
					ul 
						ul.inline-list
							li 21
							li 36
							li 12
						ul.subtitle
							li.label hour
							li.label minutes
							li.label seconds
				.small-2.large-2.columns
		.section
			.row
				.small-7.large-7.columns
					| nice
				.small-5.large-5.columns
					| yeah


//		
		.sheet.cover
			
