<!DOCTYPE html>
<html ng-app="ecstatic">
  <head>
    <title></title>
    <!-- external imports-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:600,300,200" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,100" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:600,300,200" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,100" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/animation.gsap.js"></script>
    <!-- internal imports-->
    <link rel="stylesheet" href="assets/stylesheets/app.css">
    <link rel="stylesheet" href="assets/stylesheets/player.css">
    <link rel="stylesheet" href="assets/stylesheets/ecstatic.css">
    <script src="assets/js/socket.io-client/socket.io.js"></script>
    <script src="assets/js/ecstaticSocketsClient.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/countdown.js"></script>
    <script src="assets/js/scrollz.js"></script>
    <script src="assets/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="assets/bower_components/angular-animate/angular-animate.js"></script>
    <!--script(src='assets/js/plangular_ecstatic/src/plangular.js')-->
    <script src="assets/js/plangular_ecstatic/dist/plangular.js"></script>
  </head>
  <body ng-controller="mainController as main" ng-init="bool=true">
    <div plangular="https://soundcloud.com/silentdiscosquad/sets/silent-disco-squads-tamtams-mixes-2014">
      <div id="container">
        <div id="cover" ng-if="bool" class="section fade"><img src="assets/images/lgo-255x255.png" class="logo">
          <h4>Next up</h4>
          <h1 ng-bind="upcomingEvents.title">{{main.upcomingEvents.title}} </h1><span><img icn-clock.png></span>
          <div class="row">
            <div class="small-4 columns">
              <p id="counter"></p>
            </div>
            <div class="small-4 columns">
              <ul class="small-block-grid-3">
                <li>
                  <ul class="countdown">
                    <li class="n">421</li>
                    <li class="w">hours</li>
                  </ul>
                </li>
                <li>
                  <ul class="countdown">
                    <li class="n">21</li>
                    <li class="w">minutes</li>
                  </ul>
                </li>
                <li>
                  <ul class="countdown">
                    <li class="n">42</li>
                    <li class="w">seconds</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="small-4 columns"></div>
          </div>
        </div>
      </div>
      <button ng-click="bool=false" class="testbutton">Beam me, Scotty!</button>
      <div id="player" class="section">
        <div class="row fullWidth">
          <div id="playing" class="small-12 large-7 columns"><img src="assets/images/img-cover-holder-417-280.png" class="cover-art"><img src="{{track.artwork_url}}">
            <h3>{{track.title}}</h3>
            <div>
              <button ng-click="previous()">Previous</button>
              <button ng-click="playPause()">Play</button>
              <button ng-click="next()">Next</button>
            </div>
            <div class="left">
              <p>{{ currentTime | hhmmss }}</p>
            </div>
            <div class="right">
              <p>{{ duration | hhmmss }}</p>
            </div>
            <div class="progress">
              <progress ng-click="seek($event)" ng-value="currentTime / duration" class="meter">{{ currentTime / duration }}</progress>
            </div>
            <!--link to that soundcloud track--><a ng-href="{{track.permalink_url}}">View on SoundCloud</a>
          </div>
          <div id="playlist" class="large-5 columns">
            <table>
              <tbody>
                <tr ng-repeat="track in tracks"> 
                  <td><img src="assets/images/img-empty-avatar-58x58.png"></td>
                  <td>#</td>
                  <td>
                    <ul>
                      <li>{{track.title}}</li>
                      <li>{{track.user.username}} </li>
                    </ul>
                  </td>
                  <td>{{track.duration | hhmmss}} </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>