doctype html
html(ng-app='ecstatic')
	head
		title= Ecstatic
		// external imports
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway:600,300,200', type='text/css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:400,100', type='text/css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway:600,300,200', type='text/css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:400,100', type='text/css')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/animation.gsap.js')

		// internal imports
		link(rel='stylesheet', href='assets/stylesheets/app.css')
		link(rel='stylesheet', href='assets/stylesheets/player.css')
		link(rel='stylesheet', href='assets/stylesheets/ecstatic.css')
		script(src='assets/js/socket.io-client/socket.io.js')
		script(src='assets/js/ecstaticSocketsClient.js')
		script(src='assets/js/app.js')
		script(src='assets/js/countdown.js')
		script(src='assets/js/scrollz.js')
		script(src='assets/bower_components/angular-sanitize/angular-sanitize.min.js')
		//script(src='assets/js/plangular/src/plangular.js')
		script(src='assets/js/plangular/dist/plangular.js')

	body(ng-controller='mainController as main')
		div(plangular='https://soundcloud.com/silentdiscosquad/sets/silent-disco-squads-tamtams-mixes-2014')
			#container
				#cover.section
					img.logo(src='lgo-255x255.png')
					h4 Next up
					h1(ng-bind="upcomingEvents.title") {{main.upcomingEvents.title}} 
					span: img('icn-clock.png')
					.row
						.small-4.columns
							p#counter 
						.small-4.columns
							ul.small-block-grid-3
								li: ul.countdown
										li.n 421
										li.w hours
								li: ul.countdown
										li.n 12
										li.w minutes
								li: ul.countdown
										li.n 42
										li.w seconds
						.small-4.columns
							button(ng-click='seekSync(10000);') syncClick


			#player.section
				.row.fullWidth
					#playing.small-12.large-7.columns
						img(src='assets/images/img-cover-holder-417-280.png',class='cover-art')
						img(src='{{track.artwork_url}}')
						h3 {{track.title}}

						div
							button(ng-click='previous()') Previous
							button(ng-click='playPause()') Play
							button(ng-click='next()') Next

						.left
							p {{ currentTime | hhmmss }}
						.right
							p {{ duration | hhmmss }}
						.progress
							progress.meter(ng-click="seek($event)", ng-value="currentTime / duration") {{ currentTime / duration }}

						//link to that soundcloud track
						a(ng-href='{{track.permalink_url}}') View on SoundCloud

					#playlist.large-5.columns
						table
							tbody
								tr(ng-repeat="track in tracks") 
									td: img(src='assets/images/img-empty-avatar-58x58.png')
									td #
									td: ul
											li {{track.title}}
											li {{track.user.username}} 
									td {{track.duration | hhmmss}} 

			
