doctype html
html(ng-app='ecstatic')
	head
		title= Ecstatic
		// external imports
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway:400,200,100', type='text/css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:400,100', type='text/css')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')

		// internal imports
		link(rel='stylesheet', href='assets/stylesheets/app.css')
		link(rel='stylesheet', href='assets/stylesheets/player.css')
		link(rel='stylesheet', href='assets/stylesheets/ecstatic.css')
		script(src='assets/js/socket.io-client/socket.io.js')
		script(src='assets/js/ecstaticSocketsClient.js')
		script(src='assets/js/app.js')
		script(src='assets/js/countdown.js')
		script(src='assets/js/scrollz.js')
		script(src='assets/bower_components/angular-sanitize/angular-sanitize.min.js')
		script(src='assets/bower_components/angular-animate/angular-animate.js')
		script(src='assets/js/plangular_ecstatic/dist/plangular.js')

	body(ng-controller='mainController as main')
		.plangular(plangular='https://soundcloud.com/silentdiscosquad/sets/silent-disco-squads-tamtams-mixes-2014')

			
			#cover.section.dude(ng-hide='dude')
				img.logo(src='assets/images/lgo-255x255.png')
				br
				h4 Next up
				h1 International Startup Festival 
				h1(ng-bind="upcomingEvents.title") {{main.upcomingEvents.title}} 
				.row
					
					span: img.clock(src='assets/images/icn-clock-42x42.png').hidden
					.small-12.large-12.columns.hidden
						ul.countdown
							li.n 421
							li.w hours
						ul.countdown
							li.n 21
							li.w minutes
						ul.countdown
							li.n 42
							li.w seconds
					.small-12.large-12.columns.askbox
						form(name="userForm", ng-submit="submitForm()", novalidate)
							div(ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }")
								div(ng-model='erroricon')
									i.fa.fa-times-circle(ng-show="userForm.email.$invalid && !userForm.email.$pristine", class="help-block") 
								input.email(type="email" name="email" ng-model="user.email" placeholder="{{erroricon}} Enter your e-mail (optional)")
								
							button.dudebutton(ng-init='dude=false', class="{{showButton}}", ng-click='seekSync(); dude=true;', ng-hide='dude') Join
							button.dudebutton.dudebutton2(ng-show='dude'): i.fa.fa-circle-o-notch.fa-spin-custom

			#player.section
				.row.fullWidth
					#playing.small-12.medium-4.large-7.columns
						p.roomtitle #startupfest
						//div
							button(ng-click='previous()') Previous
							button(ng-click='playPause()') Play!
							button(ng-click='next()') Next						
						img(src='assets/images/img-cover-holder-417-280.png',class='cover-art')
						//img(src='{{track.artwork_url}}')
						h3 {{track.title}}



						.left
							p {{ currentTime | hhmmss }}
						.right
							p {{ duration | hhmmss }}
						br
						.progress
							progress.meter(ng-click="seek($event)", ng-value="currentTime / duration") {{ currentTime / duration }}
							
						br
						//link to that soundcloud track
						//a(ng-href='{{track.permalink_url}}') View on SoundCloud

					#playlist.medium-6.large-5.columns
						
						table
							tbody
								tr(ng-repeat="track in tracks") 
									td.profile-picture: img(src='assets/images/img-empty-avatar-58x58.png')
									td.ordering 
									td.trackinfo.selected: ul
											li {{track.title}}
											li {{track.user.username}}
									td.duration {{track.duration | hhmmss}} 
								

			
