
{% include "header.html" %}
<div >
<br><br>
<br><br>
{% if success %}
Go check your email, we sent you a link!
{% else %}
<h1>Retrieve your password</h1>
 <form action="/auth/forgotpassword.html/" method="POST">
    {% csrf_token %}
	{{ufpr}}
	{% if messages %}
      {% for message in messages %}
        <p class="error">{{ message }}</li><br>
      {% endfor %}
    {% endif %}   
    <input type="submit" class="btn" value="submit" />
  </form>
{%endif%}
<br>
<br>
<br>
<a href="mailto:martin@silentdiscosquad.com">Email us if something went wrong</a> 
<br>
<br>
<br>
<br>
<br>

</div>

{% include "footer.html" %} 
