.hidden {
  display: none; }

.test {
  background-color: blue;
  border: 1px red solid; }

.reg-raleway, html,
body,
h1,
h2,
h3,
h4,
h5,
p,
ul, #playlist table td {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 200; }

.thin-lato, #cover h4, ul.countdown li {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 100; }

.gradient, .section {
  background: #c14e9e;
  background: -moz-radial-gradient(bottom left, ellipse cover, #c14e9e 0%, #f19438 100%);
  background: -webkit-gradient(radial, bottom left, 0px, top right, 100%, color-stop(0%, #c14e9e), color-stop(100%, #f19438));
  background: -webkit-radial-gradient(bottom left, ellipse cover, #c14e9e 0%, #f19438 100%);
  background: -o-radial-gradient(bottom left, ellipse cover, #c14e9e 0%, #f19438 100%);
  background: -ms-radial-gradient(bottom left, ellipse cover, #c14e9e 0%, #f19438 100%);
  background: radial-gradient(ellipse at bottom left, #c14e9e 0%, #f19438 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c14e9e', endColorstr='#f19438',GradientType=1 ); }

.gradient-black, #playlist {
  background: black;
  background: -moz-radial-gradient(bottom left, ellipse cover, black 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -webkit-gradient(radial, bottom left, 0px, top right, 100%, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.5)));
  background: -webkit-radial-gradient(bottom left, ellipse cover, black 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -o-radial-gradient(bottom left, ellipse cover, black 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -ms-radial-gradient(bottom left, ellipse cover, black 0%, rgba(0, 0, 0, 0.5) 100%);
  background: radial-gradient(ellipse at bottom left, black 0%, rgba(0, 0, 0, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#80000000',GradientType=1 ); }

html,
body,
h1,
h2,
h3,
h4,
h5,
p,
ul {
  list-style: none;
  overflow-y: hidden; }

#container {
  text-align: center; }

.section {
  height: 100vh; }

.row {
  margin: auto;
  padding: 0; }

.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial; }

#cover {
  text-align: center;
  white-space: nowrap;
  background-color: #eee;
  padding-top: 2em;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10; }

.cover-art {
  padding: 4em 0 0; }

#player {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: 1; }

#playing {
  padding: 0 4em 0 2em; }
  #playing h3, #playing h5 {
    padding: 0.2em 0 0; }

#playlist {
  padding: 0.5em;
  margin: 0;
  height: 100vh;
  overflow-y: scroll; }
  #playlist table {
    background: none;
    border: none; }
    #playlist table img {
      width: 32px; }
    #playlist table tr {
      background: none; }

.logo {
  padding: 3em; }

ul.countdown {
  text-align: center; }
  ul.countdown li {
    text-align: center;
    overflow: hidden; }

li.n {
  font-size: 3em; }

li.w {
  font-size: 1em; }

.progress {
  margin: 0 4em 0 4em;
  height: 1em;
  border: none;
  background-color: white;
  padding: 0; }
  .progress .meter {
    width: 67%;
    background-color: #8A446F; }

.fade.ng-enter {
  background-color: orange; }

.fade.ng-enter.ng-enter-active {
  background-color: red; }

.fade.ng-leave {
  background-color: purple;
  transition: 1s linear all; }

.fade.ng-leave.ng-leave-active {
  background-color: blue;
  transform: translateY(-100vh); }

.testbutton {
  position: absolute;
  bottom: 50px;
  z-index: 100; }

/*# sourceMappingURL=ecstatic.css.map */
