body {
  font-family: 'Dosis', sans-serif !important;
  font-size: 16px !important;
  
}
a {
  text-decoration: none !important
}
hr {
  border-color: #ccc;
}
ul li {
  /*list-style-type: none;*/

}



.center {
  text-align: center;
  padding: 20px;
}
.whatisds {
  font-size: 20px;
}
.bullet {
  color: #14a5a5;
  font-size: 24px;
}
.form-control:focus {
 outline: none !important -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.slick-dots li button:before {
  font-size: 30px !important;
}
.navbar {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff !important;
  font-weight: 300 !important;
}


.navbar-inverse .navbar-nav > li > a {
    color: #fff ;
  letter-spacing: 1px;
}


.nopadding {
  padding: 0 !important;
}
.green {
  background-color: #14a5a5;
  color: #fff;
  text-transform: uppercase;
}

.red {
    background: #e62b1e;
    color: #fff !important;
}

.red a{
    
    color: #fff !important;
}
/*.green:after {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #14a5a5;
  border-width: 10px;
 
  margin-right: 10px;
  margin-top: 0px;
}
*/

.yellow, .yellow a {
  color: #f9c900;
}

.orange{
  background: #f9c900;
}
.orange h1, .orange h2, .orange h3, .orange h4, .orange h5{
  color: #333;
  padding-bottom: 10px;
}

.light-grey h1, .light-grey h2, .light-grey h3, .light-grey h4, .light-grey h5{
  padding-bottom: 10px;
}


.light-grey {
  background: #EEEEEE;
  color: #333 !important;
}


.light-grey h2{
  color: #333 ;
  padding-bottom: 10px;
}

.navy {
  background: #0E1633;
  color: #fff;
}

.navy h2, .green h2{

  color: #fff;
  padding-bottom: 10px;
}

.navy a, .green a{

  color: #F9C900;

}
.contact-info {
  padding: 30px;
  text-transform: none;

  min-height: 250px;

}

.contact-info ul, .contact-info ul li {
 padding-top: 10px;
  padding-bottom: 10px;

}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.fa {
  margin-right: 20px;
}
.fa-border {
  border-color: inherit !important; 
}
.light-grey h4{
  color: #14A5A5

}
.input-group-addon {
  border-left: 1px solid #ccc !important;
  border-radius: 0px;
}
.input-group {
  width: 100% !important;
  border-radius: 0 !important;
}
.btn {
  background: #14a5a5;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  margin: 10px auto;
  transition: all 0.2s linear 0s;
}
.btn.small {
  padding: 5px;
  font-size: 14px;
  margin: 10px 10px 20px 0;
}
.sidebar a:hover {
  color: #333 !important;
}
/*Caroussel*/

.main-title {
  color: #fff;
  font-size: 70px;
  left: 20%;
  line-height: 1;
  margin: 0 auto;
  margin-top: 100px;
  position: absolute;
  text-align: center;
  width: 70%;
  z-index: 1000;
}
.caption-wrapper {
  position: absolute;
  width: 300px;
  padding: 30px;
  background: black;
  right: 50px;
  z-index: 9999;
  color: #fff;
  margin-bottom: 0px;
  bottom: 10;
  top: 650px;
}
.single-item {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.overlay {
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 800px;
  position: absolute;
  z-index: 5;
}
body {
  padding-top: 50px;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.profile-title {
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto; 
  text-align: center;
  width: 100%;
  display: inline-block;
  padding: 20px;
  
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #333;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #333;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #333;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #333;
}

@media (min-width: 768px) {
.profile-title {
  font-size: 20px;
  line-height: 1.5;
  top: 120px;
}
.navbar {
  font-size: 11px;
}
.sidebar {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #000;
}
.sidebar a {
  color: #fff;
}
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #edcb00;
}
.navbar-nav > li > a {
  border-right: 1px solid #555;
}
/*
 * Main content
 */

.main {
  padding: 20px;
  overflow: hidden;
  height: 100%;
}
@media (min-width: 768px) {
.main {
  /*padding-right: 40px;
    padding-left: 40px;*/
  padding: 0;
}
}
 @media (min-width: 992px) {
.profile-title {
  margin: 0 auto;
 
}
.navbar {
  font-size: 14px;
}
}

}
.main .page-header {
  margin-top: 0;
}
#city-menu {
  border: none !important;
  background: none !important;
}
.dropdown-menu {
  background-color: #f9c900 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  border: none !important;
  margin-top: -2px !important;

}
.dropdown-menu a {
  color: #fff !important;
  text-align: left !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #0e1633 !important;
}

.dropdown-menu > li > a {
    white-space: normal;
}

.signup-picture {
  background-size: cover;
  background-position: center center;
 
}

.city-top a {
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  display: block;
  color: #fff;
  text-align: center;
  font-size: 18px;
}
.city-name {
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #333;
  font-size: 18px;
}
.city-top .city {
  background-color: #f9c900;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  display: block;
  color: #fff;
  text-align: center;
  font-size: 18px;
}
.map iframe {
}

.location {
  font-size: 20px !important;
}
.city-details {
   border-bottom: 2px solid #ccc;
}
.city-details .info {
  background: #0e1633;
  height: 250px;
  color: #fff;
  padding: 20px;
 
}
.city-details h4 {
  color: #f9c900;
  text-transform: uppercase;
}
.city-details .countdown {
  font-size: 40px;
  margin-bottom: 20px;
}
.city-details .location{
  font-size: 20px;
  
}
.city-details .event-picture {
  background-size: cover;
  background-position: center center;
  height: 250px;
}
.city-mix {
  background: #eee;
  padding-bottom: 50px;
  padding-top: 20px;
}
.city-mix h1, h2, h3 {
  color: #14a5a5;
  margin-bottom: 0px;
}
.city-mix ul li {
  padding-bottom: 15px;
}
.submit-track {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid #aaa !important;
  width: 100%;
}
.organizer {
  width: 150px;
  height: 150px;
  background-position: center center !important;
  background-size: cover !important;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}
.register-form .register-field, #datepicker,  #timepicker1, #timepicker2 {
  border: none !important;
  border-top: 3px solid #14A5A5 !important;
  border-bottom: 1px solid #aaa !important;
  padding: 10px;
  background-color: transparent !important;
  width: 100%;
}
.register-form .register-center-field {
  border: 1px solid #aaa !important;
  border-top: none !important;
  border-top: 3px solid #14A5A5 !important;
  color: #222;
  padding: 10px;
  background-color: transparent !important;
  width: 100%;
}
.register-form .input-group {
  margin-top: 40px;
  border-radius:0 !important;
}


.organize-form .register-field, #datepicker,  #timepicker1, #timepicker2 {
  border: none !important;
  border-top: 3px solid #14A5A5 !important;
  border-bottom: 1px solid #aaa !important;
  padding: 10px;
  background-color: transparent !important;
  width: 100%;
}
.organize-form .register-center-field {
  border: 1px solid #aaa !important;
  border-top: none !important;
  border-top: 3px solid #14A5A5 !important;
  color: #333;
  padding: 10px;
  background-color: transparent !important;
  width: 100%;
}

.organize-form .input-group {
    margin-top: 20px;
}

.dancer {
  font-size: 13px;
  line-height: 2;
}

#menu-login {
padding: 15px !important;
}

.login {
  color: #14A5A5 !important;
}

ul.nav li.dropdown:hover ul.dropdown-menu{ display: block !important;}


.warning {
  color:red !important;
}

.content {
  overflow: hidden;
}
/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white url("./ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

/* Icons */
@font-face { font-family: "slick"; src: url("./fonts/slick.eot"); src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg"); font-weight: normal; font-style: normal; }
/* Arrows */
.slick-prev, .slick-next { position: absolute; display: block; height: 20px; width: 20px; line-height: 0; font-size: 0; cursor: pointer; background: transparent; color: transparent; top: 50%; margin-top: -10px; padding: 0; border: none; outline: none; }
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { outline: none; background: transparent; color: transparent; }
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before { opacity: 1; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25; }

.slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 20px; line-height: 1; color: white; opacity: 0.75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-prev { left: -25px; }
.slick-prev:before { content: "\2190"; }

.slick-next { right: -25px; }
.slick-next:before { content: "\2192"; }

/* Dots */
.slick-slider { margin-bottom: 30px; }

.slick-dots { position: absolute; bottom: -45px; list-style: none; display: block; text-align: center; padding: 0; width: 100%; }
.slick-dots li { position: relative; display: inline-block; height: 20px; width: 20px; margin: 0 5px; padding: 0; cursor: pointer; }
.slick-dots li button { border: 0; background: transparent; display: block; height: 20px; width: 20px; outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer; }
.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }
.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }
.slick-dots li button:before { position: absolute; top: 0; left: 0; content: "\2022"; width: 20px; height: 20px; font-family: "slick"; font-size: 6px; line-height: 20px; text-align: center; color: black; opacity: 0.25; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots li.slick-active button:before { color: black; opacity: 0.75; }

[dir="rtl"] .slick-next {right: auto;left: -25px;}
[dir="rtl"] .slick-next:before {content: "\2190";}
[dir="rtl"] .slick-prev {right: -25px;left: auto;}
[dir="rtl"] .slick-prev:before {content: "\2192";}
[dir="rtl"] .slick-slide {float: right;}


textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
border-color: none;
box-shadow: none;
outline: 0 none;
 border-radius:0 !important;}


.remodal-bg input {
  color:#fff;
  font-size: 20px !important;
}

.facebook {
background: #3b5998 !important;
}

.facebook:hover {
background: #8b9dc3 !important;
border-color: #3b5998 !important;
border: 1px solid #3b5998 !important;;
color:#fff;

}

.navbar-brand {
padding:0 !important;
  }
.index-logo {
padding-left: 15px !important;

}
.copyright{
  text-align: center;

}
.social-icons {
  float:left;
  border:none !important;
  padding-left:0px !important;
  padding-right:4px !important;
  padding-bottom:12px !important;

}

.last {
  clear: right;
  border-right: 1px solid #555 !important;
}

.footer {
  background: #222;
  color:#bbb;
  padding-bottom: 60px;
  padding-top: 40px;
  font-size: 15px;
}

.footer span {

  font-size: 16px;
}

.footer a {
  color:#F9C900;
  font-size: 16px;
  margin-left: 10px;
}